<!--sign in banner -->
<div class="nav-container" id="signInBanner" style="display: none">
    <span class="bannerContent">
        You must be signed in to write a review
    </span>
    <button class="sul-btn btn-primary bannerActionButton" onclick="location.href='/login'">
        Sign in
    </button>
</div>

<!-- verify email banner -->
<div class="nav-container" id="verifyEmailBanner" style="display: none">
    <span class="bannerContent">
        You must verify your email to write a review
    </span>
    <button class="sul-btn btn-primary bannerActionButton"
        onclick="firebase.auth().currentUser.sendEmailVerification();firebase.auth().signOut(); location.href='/login'">
        Resend email
    </button>
    <button class="sul-btn btn-primary bannerActionButton" onclick="firebase.auth().signOut(); location.href='/login'">
        Try again
    </button>
</div>

<br />
<div id="comment_list" style="display: none;">
    <!--comment form -->
    <div>
        <img class="profile_comment" id="defaultImg">
    </div>

    <div>
        <h4 id="defaultName"></h4>
    <form id="comment">
        <label for="star"></label>
        <div id="rating" class="star-rating">
            <input type="radio" name="star" id="s5" value="5">
            <label for="s5">
                <i
                    class="fas fa-star"></i>
            </label>
            <input type="radio" name="star" id="s4" value="4">
            <label for="s4">
                <i
                    class="fas fa-star"></i>
            </label>

            <input type="radio" name="star" id="s3" value="3">
            <label for="s3">
                <i
                    class="fas fa-star"></i>
            </label>

            <input type="radio" name="star" id="s2" value="2">
            <label for="s2">
                <i
                    class="fas fa-star"></i>
            </label>

            <input type="radio" name="star" id="s1" value="1">
            <label for="s1">
                <i
                    class="fas fa-star"></i>
            </label>
            
        </div>
        <div style="padding:1.2rem;">
        </div>
        <div id="mdc-outline"
            class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea entry mdc-text-field--with-internal-counter">
            <textarea class="mdc-text-field__input" id="message" cols="30" rows="5" maxlength="280" required></textarea>
            <span class="mdc-text-field-character-counter">0 / 280</span>
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="message" class="mdc-floating-label">Review</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
    </form>
    <br />
    <button onclick="location.href='/login'" id="comments" class="sul-btn btn-primary">
        Log in to review
    </button>
</div>
</div>
<br /> <br />

<div class="comments" id="comment_div"></div>
<div id="placeholder"></div>