<meta name="viewport" content="width=device-width, 
               height=device-height, 
               initial-scale=1.0, 
               maximum-scale=1.0" />
<meta charset="UTF-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preload" href="/assets/fonts/Demode-Fixed.ttf" as="font" crossorigin>
<link rel="preload" href="/assets/css/selawk-webfont.woff" as="font" crossorigin>
<link rel="stylesheet" href="/assets/css/style.min.css" />
<link rel="apple-touch-icon" href="/assets/images/apple.png">
<link rel="icon" href="/assets/images/favicon.png" type="image/png">
<meta name="theme-color" content="#2b2b2b">
<meta name="battery-savings" content="allow-reduced-framerate allow-reduced-script-speed">
<meta name="description"
    content="Aster is an online platform which compiles and publicizes your club's information in one user friendly package. Through our time saving club discovery features, Aster streamlines the club search process, bringing in new members and helping your club thrive.">
<script>
    //service workers
    if ('serviceWorker' in navigator) {
        if (matchMedia('(display-mode: standalone)').matches) { //download offline content if website is installed
            navigator.serviceWorker.register('/serviceworker.js')
                .then(reg => console.log('service worker registered'))
                .catch(err => console.log('service worker not registered', err));
        } else { //dummy for installability when browsing not installed
            navigator.serviceWorker.register('/sw.js')
                .then(reg => console.log('service worker registered'))
                .catch(err => console.log('service worker not registered', err));
        }
    }

    //themes
    if (localStorage.theme == undefined) {
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) { //read OS theme
            localStorage.theme = "dark-mode";
            var tabColor = "#2b2b2b";
        } else {
            localStorage.theme = "light-mode"
            var tabColor = "#f1f4f7";
        }
    }
    document.getElementsByTagName("html")[0].className = localStorage.theme; //apply
    for (var el of document.getElementsByTagName("meta")) {
        if (el.name == "theme-color") {
            if (localStorage.theme == "dark-mode") {
                var tabColor = "#2b2b2b";
            } else {
                var tabColor = "#f1f4f7";
            }
            el.content = tabColor;
        }
    }

    function themeInitializer() { //for button icon
        if (localStorage.theme == "light-mode") {
            for (var el of document.getElementsByClassName("themeIcon")) {
                el.innerHTML = "nights_stay";
                var widgetLink = "https://discordapp.com/widget?id=734194671714041946&theme=light";
            }
        } else {
            var widgetLink = "https://discordapp.com/widget?id=734194671714041946&theme=dark";
        }
        var widget = document.getElementsByTagName("iframe")[0];
        if (widget) widget.src = widgetLink;
    }

    function toggleTheme() {
        if (localStorage.theme == "light-mode") { //switch to other
            localStorage.theme = "dark-mode";
            for (var el of document.getElementsByClassName("themeIcon")) {
                el.innerHTML = "wb_sunny";
            }
            var tabColor = "#2b2b2b";
            var widgetLink = "https://discordapp.com/widget?id=734194671714041946&theme=dark";
        } else {
            localStorage.theme = "light-mode";
            for (var el of document.getElementsByClassName("themeIcon")) {
                el.innerHTML = "nights_stay";
            }
            var tabColor = "#f1f4f7";
            var widgetLink = "https://discordapp.com/widget?id=734194671714041946&theme=light";
        }
        document.getElementsByTagName("html")[0].className = localStorage.theme; //apply
        for (var el of document.getElementsByTagName("meta")) {
            if (el.name == "theme-color") {
                el.content = tabColor;
            }
        }
        var widget = document.getElementsByTagName("iframe")[0];
        if (widget) widget.src = widgetLink;
    }

    //devtools detection and warning
    var checkStatus;
    var element = new Image();
    element.warning = "%cWARNING!  IF SOMEONE TOLD YOU TO PASTE SOMETHING IN HERE, IT MIGHT BE A SCAM!  DO NOT PASTE ANYTHING HERE THAT YOU DO NOT UNDERSTAND!!! If you paste anything here, you are a brainlet and I have 43 reasons why ending in 'you didn't read our warning'. Also you'll probably end up self ddosing yourself :shrug:";
    Object.defineProperty(element, 'id', {
        get: function () {
            checkStatus = 'on';
            throw new Error("Dev tools checker");
        }
    });

    requestAnimationFrame(function check() {
        checkStatus = 'off';
        console.log(element.warning, "color: red; font-size: x-large");
    });

    function mdcWarn(warnText)
    {
        document.getElementById("modalContent").innerHTML = warnText;
        new mdc.dialog.MDCDialog(document.getElementById("mdcAlert")).open();
    }
</script>
<script src="/lib/purify.min.js"></script>
<script rel="preload" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script rel="dns-prefetch" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<link rel="manifest" href="/manifest.webmanifest" />

<div class="mdc-dialog warn-box" id="mdcAlert" style="background: rgba(0, 0, 0, .4);
z-index: 401;">
    <div class="mdc-dialog__container">
        <div class="mdc-dialog__surface" role="alertdialog">
            <div class="mdc-dialog__content" id="modalContent">
            </div>
            <div class="mdc-dialog__actions">
                <footer class="mdc-dialog__footer">
                <div class="mdc-dialog__actions">
                    <button type="button" class="mdc-button mdc-dialog__button" id="confirm-delete" data-mdc-dialog-action="accept">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label" style="color: var(--primary-color)">Close</span>
                    </button>
                </div>
            </footer>
             </div>
        </div>
    </div>
</div>