{% if page.name contains "managerial" %}
<script src="/assets/js/alt_sidebar.js"></script>
{% endif %}

{% unless page.name contains "managerial" %}
<script src="/assets/js/sidebar.js"></script>
{% endunless %}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://unpkg.com/material-components-web@7.0.0/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@7.0.0/dist/material-components-web.min.js"></script>

<!-- loading -->
<div id="loading-screen">
    <div id="loading-flower" class="loading-spin">
        <div class="petal-one petal-common"></div>
        <div class="petal-two petal-common"></div>
        <div class="petal-three petal-common"></div>
        <div class="petal-four petal-common"></div>
        <div class="petal-five petal-common"></div>
        <div class="petal-six petal-common"></div>
        <div class="petal-seven petal-common"></div>
        <div class="petal-eight petal-common"></div>
    </div>
</div>

<!-- top app bar -->
<div class="nav-container">
    <nav>
        <button><i class="material-icons"
                onclick="event.preventDefault();history.back();">keyboard_backspace</i></button>
        <div class="logo">
            <a href="/">
                Aster
                <span class="badge">Beta</span>
            </a>
        </div>
        <div class="nav-wrapper">
            <ul>
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/news">News</a></li>
                <li class="nav-item"><a href="/clubs">Clubs </a></li>
                <li class="nav-item"><a href="/add">Add club</a></li>
                <li class="nav-item">
                    <a href="/login" id="userBtn">Log In</a>
                    <ul id="dropdownMenu" style="display:none;">
                        <li id="dshBrd"><a href='/dashboard'>Dashboard</a></li>
                        <li id="managerLink"><a href="/managerial">Manage</a></li>
                        <li><a onclick="logOut(event);">Log Out</a></li>
                    </ul>
                </li>

                <li class="nav-item"><button onclick="toggleTheme();" id="themeToggleButton"><i
                            class="themeIcon material-icons"
                            style="vertical-align: -6px; color: #f0d526; font-size: 24px;"
                            class="material-icons">wb_sunny</i></button></li>
            </ul>

        </div>

        <div id="shareBtn" style="display: none;">
            <button onclick="share();" style="background-color: transparent;"><i class="material-icons"
                    style="vertical-align: -6px; color: var(--primary-color); font-size: 24px;"
                    class="material-icons">share</i></button></li>

        </div>
    </nav>
</div>

<!-- cookie -->
<div class="nav-container" id="cookiesbanner" style="display: none">
    <span id="cookiescontent">
        By using this site, you agree to our <a href="/privacy">privacy policy</a> and <a href="/cookie">cookie
            policy.</a>
    </span>
    <button class="sul-btn btn-primary" id="cookiesbtn" onclick="acceptCookies()">
        OK
    </button>
</div>

<!-- drawer -->
<aside class="mdc-drawer mdc-drawer--modal" style="z-index: 99999999;">
    <div class="mdc-drawer__content">
        <nav class="mdc-list">
            <div class="mdc-drawer__header" id="ibc">
                <img id="profile_img" style="height:4.5rem; width: 4.5rem">
                <h3 class="mdc-drawer__title" id="drawerUsername"></h3>
                <h6 class="mdc-drawer__subtitle" id="drawerEmail"></h6>
            </div>

            <a class="mdc-list-item" id="loginBtn" href="/login">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">Log in</span>
            </a>

            <a class="mdc-list-item accountBtn" style="display: none;" href="/dashboard">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">Dashboard</span>
            </a>

            <a class="mdc-list-item accountBtn" id="manageBtn" style="display: none;" href="/managerial">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">Manage</span>
            </a>

            <a class="mdc-list-item accountBtn" style="display: none;" onclick="logOut(event);">
                <span class="mdc-list-item__ripple"></span>
                <span class="mdc-list-item__text">Log out</span>
            </a>

            <a class="mdc-list-item themeToggleButton" onclick="toggleTheme();">
                <span class="mdc-list-item__ripple"></span>
                <i class="material-icons mdc-list-item__graphic themeIcon" aria-hidden="true">wb_sunny</i>
            </a>
        </nav>
    </div>
</aside>

<script>
    /**
    * hides nav button while on sidebar
    */

    $(".nav-btn").on('click', function () {
        $(this).hide();
        $("#overlay").show();
    });

    document.addEventListener("DOMContentLoaded", function () {
        //window.sessionStorage.removeItem("acceptedCookies");
        showBanner();
    });

    function showBanner() {
        //should make these dependant on cookies rather than sessionstorage
        let acceptedCookies = window.localStorage.getItem("acceptedCookies");
        if (acceptedCookies == "true") {
            document.getElementById("cookiesbanner").style.display = "none";
        }
        else {
            document.getElementById("cookiesbanner").style.display = "flex";
        }
    }
    function acceptCookies() {
        window.localStorage.setItem("acceptedCookies", true);
        showBanner();
    }

    function share() {
        navigator.share({
            title: document.title,
            url: location.href
        });
    }

</script>