---
layout: none
permalink: /chat
---
<!DOCTYPE html>
<html lang="en">

<head>
    <title>AsterChat</title>
    {% include head.html %}
</head>

<body onload="themeInitializer();">
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    {% include firebase_base.html %}
    {% include sidebar.html %}
    <h1>Aster Forums</h1>
</body>

</html>