html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

#add-club {
    max-width: 768px;
    margin: 60px auto;
    position: relative;
    padding-top: 3em
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
input,
select,
textarea {
    color: var(--color-white);
    font: inherit !important;
    margin: 0
}

input,
textarea {
    line-height: normal;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: none !important
}

textarea {
    overflow: auto
}

.club-form {
    border: solid 3px #151515;
    max-width: 768px;
    margin: 60px auto;
    position: relative
}

form {
    padding: 37.5px;
    margin: 1em 0
}

h1 {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase
}

.icon_wrapper {
    margin: 50px auto 0;
    width: 100%
}

.icon {
    display: block;
    fill: #00369b;
    height: 50px;
    margin: 0 auto;
    width: 50px
}

input[type=text],
select,
textarea {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 0 1.875em 0;
    padding: 0 0 .875em 0;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

input[type=text]:focus,
textarea:focus {
    outline: 0;
    padding: 0 0 .875em 0
}

select {
    background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png) no-repeat right;
    outline: 0;
    padding-bottom: .8em;
    margin-bottom: 1em;
    -moz-appearance: none;
    color: var(--main-text-color);
    -webkit-appearance: none
}

select::-ms-expand {
    display: none
}

option {
    margin-left: .9em
}

.subject {
    width: 100%
}

.field {
    width: 100%
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%
}

::-webkit-input-placeholder {
    color: var(--main-text-color)
}

:-moz-placeholder {
    color: var(--main-text-color);
    opacity: 1
}

::-moz-placeholder {
    color: var(--main-text-color);
    opacity: 1
}

:-ms-input-placeholder {
    color: var(--main-text-color)
}

@media screen and (max-width:768px) {
    #add-club {
        margin: 20px auto;
        width: 95%
    }
}

@media screen and (max-width:480px) {
    h1 {
        font-size: 26px
    }
    .underline {
        width: 68px
    }
}

@media screen and (max-width:420px) {
    h1 {
        font-size: 1.5em
    }
    h2 {
        font-size: 1.25em
    }
    .icon {
        height: 35px;
        width: 35px
    }
    .underline {
        width: 53px
    }
    input[type=text],
    select,
    textarea {
        font-size: .875em
    }
}

.flat-btn {
    font-family: Inconsolata, Helvetica, Arial, sans-serif;
    font-size: inherit;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    border: 4px solid #151515;
    color: #151515;
    outline: 0;
    position: relative;
    display: inline-block;
    padding: 15px 10px 14px;
    cursor: pointer;
    width: auto
}

.flat-btn:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #151515;
    background-color: #151515;
    left: 4px;
    top: 4px;
    z-index: -1;
    content: '';
    --webkit-transition: all .5s;
    --moz-transition: all .5s;
    --o-transition: all .5s
}

.flat-btn:hover {
    top: 2px;
    left: 2px
}

.flat-btn:hover:after {
    top: -2px;
    left: -2px
}

button.flat-btn {
    margin: 0 auto;
    display: block
}

input.flat {
    font-family: Inconsolata, Helvetica, Arial, sans-serif;
    font-size: inherit;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    outline: 0;
    color: var(--color-white) !important
}

input[type=submit i] {
    background-color: inherit
}

li {
    color: var(--main-text-color)
}

.select2-selection__rendered {
    height: 56px !important;
    background: 0 0 !important;
    border-radius: 4px !important;
    box-shadow: none !important
}

#thankModal {
    background: rgba(0, 0, 0, .4);
    z-index: 400;
}
.modal-content {
    border-radius: 10px;
    text-align: center;
    background-color: var(--card-bg);
    margin: auto;
    color: var(--primary-color);
    padding: 10px;
    /*border: 1px solid var(--main-text-color);*/
    width: 35%;
    min-width: 340px;
}


@media screen and (max-width:500px) {
    .modal-content {
        width: 85%;
        min-width: unset;
    }
}

.modal-content>p {
    height: 50%;
    font-weight: 550;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content>div{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close {
    font-size: 28px;
    font-weight: 700;
    width: 30% !important;
    min-width: 70px;
    height: 30% !important;
    min-height: 50px;
}
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.entry {
    width:100% !important;
}

#imgDiv
{
    border: 1px solid; 
    border-radius: 4px;
    /*position: relative;
    top: 5vh;*/
    text-align: left;
    border-color: var(--main-text-color);
}

#imgDiv label {
    padding: 10px;
    font-size: 28px;
    cursor: pointer;
}

.divHolderCSS {
    font-size: 18pt;
    padding-left: 10px;
}

.deleteX {
    cursor: pointer;
}

.deleteX:hover {
    color: red;
}

input[type="file"]
{
    display: none;
}

.filter_menu {
    border: 1px solid var(--main-text-color) !important;
} 