#contribSectionHTML
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

h1
{
    color: var(--primary-color) !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.intro, .innerDiv div
{
    overflow-x: wrap;
}

.contrib
{
    /*margins*/
    display: flex;
    align-items: center;
    justify-content: normal;
    width: 70%;
    box-shadow: 0 0 0 var(--color-white), 1px 1px 4px var(--color-shadow);
    background: var(--card-bg);
    margin: 8px;
}

.contrib img
{
    width: 35%;
    height: auto;
    border-radius: 50%;
    padding: 8%;
}

.innerDiv
{
    width: 65%;
    padding-right: 8%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.innerDiv div
{
    text-align: left;
    line-height: 1.7rem;
}

.innerdiv h1
{
    padding-top: 2rem;
}

.roleSpan
{
    text-transform: uppercase;
    margin: 2%;
    display: block;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .contrib
    {
        flex-direction: column;
    }

    .innerDiv
    {
        padding-left: 8%;
        padding-top: 0px;
    }

    .innerDiv div {
        padding-top: 1rem;
    }
    .contrib img
    {
        width: 50%;
    }
}