hr {
    border: 0; 
    clear:both; 
    display:block; 
    width: 96%; 
    background-color: var(--primary-color); 
    height: 1px; 
}

#suggestedClubs, #recentClubs {
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin: 0 auto;
}

.browse-clubs > * {
    margin: 0 auto;
}

.browse-clubs > h1.title {
    padding-left: 1.5rem;
    font-size: 2.2rem;
    padding-bottom: 1rem;
}