@font-face {
    font-family: Selawk;
    src: url(selawk-webfont.woff) format("woff"), url(selawk.ttf) format("truetype");
}
body {
    height: 100%;
}
:root {
    --details-padding: 1em;
}
#appendTo {
    margin: 0 6rem 2.3rem 6rem;
    text-align: justify;
}
.tab-menu {
    margin: 2.3rem 6rem 2.3rem 6rem;
}
@media screen and (max-width: 865px) {
    #appendTo,
    .tab-menu {
        margin: 0 2rem 2.3rem 2rem;
    }
}
.fas.fa-star {
    padding-left: 4px;
}
.comment {
    margin-bottom: 3rem;
    background: var(--card-bg);
    text-align: left;
    padding: 2rem;
    box-shadow: 0 0 0 var(--color-white), 1px 1px 4px var(--color-shadow);
    border-radius: 4 px;
    line-height: 2rem;
    display: flex;
    flex: 0 0 50%;
}
.jump {
    font-style: italic;
}
.side-dash {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15rem !important;
    box-shadow: 0 0 0 var(--color-white), 1px 1px 4px var(--color-shadow);
}
.side-dash > ul {
    margin-top: 12rem;
    margin-left: 1rem;
    display: grid;
    padding: 0 0 !important;
}
li.dash-link {
    cursor: pointer;
    font-family: var(--main-font);
    font-weight: 600;
    padding: 1.3rem;
    font-size: 1.2rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
li.dash-link.active {
    border-right: 3px solid var(--main-text-color);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
i.material-icons-outlined {
    font-size: 1.78rem;
    padding-right: 2rem;
}
.dashboard,
.subdash {
    margin-left: 15rem;
    margin-top: 2em;
}
.dash-icon {
    width: 1rem !important;
    height: 1rem !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.1rem;
}
#user_prompt {
    display: none;
}
h3 {
    font-weight: 700;
}
#update {
    margin-top: 0;
}
.field-label {
    text-align: left;
}
.btn-profile {
    background: 0 0;
    color: var(--primary-color);
    border: 2px solid var(--primary-color) !important;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}
.btn-profile:hover {
    background: var(--primary-color);
    color: var(--color-white);
}
.info-field {
    padding: 1rem;
    white-space: nowrap;
    width: 100%;
}
.club-field {
    background-color: var(--color-bg);
    width: 70%;
}
.profile-box {
    max-width: 30vw !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.info-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.user-info {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: fit-content;
    height: 50px;
    margin-left: 1rem;
}
.user-field {
    white-space: nowrap;
    height: 50px;
    margin-left: 0;
}
input {
    font-family: Selawk !important;
}
#deleteBtn,
.changeBtn,
.confirmBtn {
    margin-top: 1rem !important;
    background: 0 0;
    border: none;
    font-weight: 700;
    width: 8rem;
    height: 3rem;
    padding: 0;
}
.confirmBtn {
    visibility: hidden;
    margin-left: 1rem;
}
#password-box {
    display: flex;
    flex-direction: column;
}
.changePw {
    display: none;
}
.fa-eye {
    cursor: pointer;
}
#password-field-container {
    visibility: hidden;
    height: 0;
}
#password-box input {
    height: 100%;
    width: 95%;
    background: 0 0;
}
#change-password {
    cursor: pointer;
}
#change-password:hover {
    text-decoration: underline;
}
.dash-link {
    display: inline-flex;
}
@media screen and (max-width: 864px) {
    .side-dash {
        top: 90%;
        width: 100vw !important;
        bottom: 0;
        padding: none;
        background: var(--color-bg);
        z-index: 120;
        border-top: 0.1px solid var(--scroll-bg);
        border-right: none;
    }
    .dash-link {
        display: grid;
    }
    .side-dash > ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
        margin-top: 1.2rem;
    }
    li.dash-link > span {
        display: none;
    }
    li.dash-link > i.material-icons-outlined {
        font-size: 2rem;
    }
    .dash-link {
        grid-template-rows: min-content min-content;
        grid-template-columns: 1fr;
        place-items: center;
        padding: none;
    }
    .dashboard,
    .subdash {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
    .summary-content {
        overflow: auto;
    }
    li.dash-link {
        padding: 0 0;
    }
    li.dash-link.active {
        border: none;
    }
    .profile-box {
        margin-left: 0.8rem !important;
        max-width: unset !important;
    }
    .browse-header,
    .filter_menu,
    details {
        width: 80vw !important;
    }
    #addition_form .entry,
    #addition_form .filter_menu {
        width: 100% !important;
    }
    i.material-icons-outlined {
        padding-right: 0;
    }
}
.manage-icons {
    font-size: 1rem;
    display: inline-flex;
    margin-top: 1rem;
}
.cat label {
    font-size: 1rem;
}
.cat input[type="checkbox"] + label:before {
    width: 15px;
    height: 15px;
}
.filter_menu > .sub_menu > span.tags {
    font-size: 1.1rem;
    color: var(--primary-color);
}
.filter_link {
    margin-left: 3.5rem;
}
.text-box {
    color: var(--main-text-color);
}
#addition_form .mdc-text-field {
    width: 66.67vw;
}
.modal {
    display: none;
    position: fixed;
    z-index: 401;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    text-align: center;
    background-color: var(--card-bg);
    margin: auto;
    color: var(--primary-color);
    padding: 20px;
    width: 35%;
    height: 190px;
    min-width: 340px;
}
.modal-content > p {
    height: 50%;
    font-weight: 550;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.close {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    width: 30% !important;
    min-width: 70px;
    min-height: 20px;
}
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#addition_form {
    position: relative;
    margin: 0 auto !important;
}
.manage_add {
    display: flex !important;
    width: 60% !important;
}
#addition_form .filter_menu {
    margin: 0 !important;
}
.cards {
    width: 90%;
}
#pfp {
    border-radius: 50%;
    margin-left: 1rem;
    width: 20vh;
    height: 20vh;
    max-width: 100%;
    display: flex;
    cursor: pointer;
    outline: 0;
}
#pfpSpan {
    margin-left: 1rem;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    max-width: 100%;
    outline: 0;
    display: none;
    text-emphasis: center;
}
@media screen and (max-width: 864px) {
    #pfp {
        width: 10em;
        height: 10rem;
    }
}
#pfpSpan i {
    color: #fff;
    display: flex;
    margin: auto;
    font-size: 48pt;
}
.warn-box {
    display: block;
}
#deleteWarn {
    background: rgba(0, 0, 0, 0.4);
    z-index: 401;
}
button#deleteBtn {
    color: red !important;
    border: 1px solid red !important;
    width: 12rem;
}
.danger_details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}
@keyframes open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.danger_details summary::-webkit-details-marker {
    display: none;
}
.danger_details summary {
    width: 100%;
    padding: 0.5rem 0;
    color: red;
    border-bottom: 1px solid red;
    position: relative;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
    list-style: none;
}
.danger_details summary:after {
    content: "+";
    color: red;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 0;
    font-weight: 200;
    transform-origin: center;
    transition: 50ms linear;
}
.danger_details[open] summary:after {
    transform: rotate(45deg);
    font-size: 2rem;
}
.danger_details summary {
    outline: 0;
}
.mdc-text-field {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 290px;
}
@media screen and (max-width: 290px) {
    .mdc-text-field {
        width: 200px;
    }
    .info-field {
        padding: 0 !important;
    }
}
@media screen and (max-width: 1100px) {
    .entry {
        max-width: 255px !important;
    }
}
@media screen and (max-width: 991px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
}
