html {
  scroll-behavior: smooth
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

*,
::after,
::before {
  box-sizing: border-box
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: none
}

.section-inline > p.title-up > span.title-up {
  color: var(--main-text-color);
}   

.more_title {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 600;
}
.margin {
  position: relative;
  display: block;
  width: 64vw;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .margin {
    margin: 0;
    padding: 30px;
  }
}

#edited {
  width: calc(64.3vw - 83px);
}

p {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.7;
  color: var(--main-text-color)
}

.sec {
  position: relative;
  display: block;
  width: 68vw;
  margin: 0 auto;
  overflow: hidden
}

.section {
  background: var(--card-bg);
  position: relative;
  max-width: calc(100% - 40px);
  padding: 60px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 4px; 
  box-shadow: 0 0 0 var(--color-white),1px 1px 4px var(--color-shadow);
}

.section-fluid {
  position: relative;
  width: 100%;
  display: block
}

.info-wrap {
  position: relative;
  z-index: 10;
  display: block;
  text-align: left
}

.review h4,
.title-right,
.title-up {
  font-family: var(--main-font);
  font-weight: 700;
  padding-right: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .8rem;
  margin-top: 0;
  margin-left: 0;
  color: var(--primary-color)
}

.category {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem
}

.title-right {
  float: right;
  color: var(--primary-color);
  font-size: .7rem;
  margin-top: .4rem
}

#interestButton {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  margin-top: -.5rem
}

#hook {
  cursor: pointer;
  user-select: none
}

.clubname {
  font-family: var(--main-font);
  font-weight: 800;
  font-size: 3.1rem;
  letter-spacing: .3rem;
  margin-top: 10px;
  line-height: 1.2;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--primary-color)
}

@media screen and (max-width:410px) {
  .clubname {
      font-size: 10vw;
  }
}
.meets {
  font-family: var(--main-font);
  font-weight: 800;
  margin-left: 0;
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 30px
}

.meets span {
  text-decoration: line-through;
  font-size: .8rem;
  opacity: .6;
  padding-left: 15px
}

.section-inline {
  position: relative;
  display: inline-block;
  margin-right: 4rem
}

.section-inline p span {
  font-size: 1.1rem;
  line-height: 1.1
}

@media screen and (max-width:991px) {
  .sec {
      width: 100vw
  }
  .section {
      padding: 40px;
      min-width: 100%
  }
  label.first-color {
      margin-left: 0
  }
  .info-wrap {
      margin-left: 0;
      width: 100%;
      margin: 0 auto
  }
  .section-fluid {
      width: 100%
  }
  .name {
      font-size: 1.5rem
  }
  .meets {
      font-size: .8rem
  }
  .section-inline p span {
      font-size: 1.1rem;
      line-height: 1.1
  }
  .section-inline p {
      font-size: 14px
  }
  .section-inline {
      margin-right: .1rem;
      padding: .2rem
  }
  #edited,
  #message {
      width: 90vw;
  }
  #reviewContainer, #reviewContainer textarea, .entry {
    max-width: unset !important;
    width: 100%;
  }
  #reviewContainer {
    margin: 0!important;
  }
  #comment_list, #comment, #edit-form, .entry, .comment {
    width: 100% !important;
  }
}

@media screen and (max-width:575px) {
  .section-inline p span {
      font-size: 1.1rem;
      line-height: 1.1
  }
  .content p {
      font-size: .9rem
  }
  .section-inline p {
      font-size: 14px
  }
  .section-inline {
      margin-right: .8rem;
      padding: .2rem
  }
}

.comment p {
  color: var(--main-text-color);
  padding-bottom: 1rem;
  word-wrap: break-word;
}

p.title-up {
  font-size: 1.3rem;
}
.review {
  margin-top: -5rem
}

.review h4 {
  font-size: 1rem;
  color: var(--primary-color)
}

.review p {
  font-size: 1.2rem
}


.edit_grid a {
  text-transform: uppercase;
  color: var(--main-text-color);
  font-size: .9rem;
  margin-right: 1.3em
}

#reviewContainer {
  max-width: 68vw;
  margin: 0 auto;
}
#reviewContainer textarea {
  max-width: 68vw;
}
.entry {
  max-width: 66vw;
}

.uk-slidenav-position .uk-slidenav {
  display: block;
}

#comment_div:last-child p {
  margin-bottom: 0;
}

.fa-star {
  color: var(--primary-color);
}

.parent_comment {
  display: flex;
  flex: 0 0 50%;
}

#comment_list {
  display: grid;
    grid-template-columns: 10% 90%;
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

#comment_list #message{
  width: 57vw;
}
.star-rating {
  margin-top: 2%;
  -webkit-user-select: none;
  display: inline-block;
  direction: rtl;
  letter-spacing: -5px;
}

.star-rating input {
  display: none;
  position: absolute;
}

.star-rating label {
  margin: 0 auto;
  position: relative;
  opacity: 0.2;
  padding-left: 0.5px;
  padding-right: 5px;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input:checked~label {
  opacity: 1;
  text-shadow: -2px 2px 2px var(--color-shadow);
}

.star-rating label:hover:before,
.star-rating label:hover~label:before,
.star-rating input:checked~label:before {
  position: absolute;
  left: 0;
}

#verifyEmailBanner,
#signInBanner {
  top: 100%;
  background-color: var(--card-bg);
  transform: translateY(-100%);
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 399;
}

.bannerActionButton {
  padding: 8px 16px 8px 16px;
}

.bannerContent {
  width: 50%;
}

/* report button stuff */

.review h4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.report {
  padding-left: 10vw;
  color: red;
  display: inline-flex;
}
.report {
  cursor: pointer;
}
.report .material-icons {
  color:red;
  font-size: 15px !important;
  padding-right: 12px;
}
.report span {
  margin-top: -4px;
}

@media screen and (max-width: 700px) {
  .bannerContent {
      width: 70%;
  }
}

@media screen and (max-width: 400px) {
  .review h4 {
    grid-template-columns: repeat(1, 1fr);
  
  }
  .report {
    padding-left: 0px;
    padding-top: 2rem;
  }
  .report .material-icons  {
    margin-left: 0;
  }
}

.sul-box-raised-3 {
  margin: 0.8rem;
  padding: 0.8rem;
}

.review {
  text-align: justify;
}

#stars {
  width: initial;
}

.uk-link,
a,
.uk-link-toggle:focus .uk-link,
.uk-link-toggle:hover .uk-link,
.uk-link:hover,
a:hover {
  color: unset;
  text-decoration: none;
}

.nav-wrapper ul {
  margin: 0 0;
}