.parent {
    height: 100vh !important;
}
#login_div {
    overflow-y: hidden; 
}

.main-div {    
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    max-width: 450px;
    background: var(--card-bg);
    box-shadow: 0 0 0 var(--color-white),
              1px 1px 4px var(--color-shadow);
}
.main-div > form {
    flex: 1;
}

.entry {
    width: 260px;
}

.new-name {
    width: 129px;
    /*2px space*/
}

input.truncated {
    width: 85%;
}

#login_div button {
    display: inline-block;
}

.tab-menu-link {
    width: 50%;
}

#signup,
#login {
    margin-top: 1rem;
}

.fa-eye {
    cursor: pointer;
    margin-left: 5%;
}

@media screen and (max-width:500px) {   
    .mdc-text-field.mdc-text-field--outlined.entry.new-name{
        width: 260px;
        margin-top: 1.3rem;
    }
    .mdc-text-field.mdc-text-field--outlined.entry.new-name:first-child {
        margin-top: 0px;
    }
    
}
