html {
    scroll-behavior: smooth
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

*,
::after,
::before {
    box-sizing: border-box
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: none
}

p {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7;
    color: var(--main-text-color)
}

.section {
    max-width: 66.67vw;
    margin: 0 auto;
    background: var(--card-bg);
    position: relative;
    padding: 60px;
    border-radius: 4px; 
    box-shadow: 0 0 0 var(--color-white),1px 1px 4px var(--color-shadow);
}

.news-section {
    background: var(--card-bg) !important;
    padding: 60px;
    border-radius: 4px; 
    box-shadow: 0 0 0 var(--color-white),1px 1px 4px var(--color-shadow);
}

.slider>div {
    padding: 40px
}

.text-section {
    max-width: 60%;
    text-align: left !important;
    margin: 0 auto;
    padding-top: 5%
}

.text-section .title {
    color: var(--primary-color) !important
}

.title-up {
    font-family: var(--main-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
    margin-top: 0;
    color: var(--primary-color)
}

@media screen and (max-width:991px) {
    .news-section,
    .section {
        min-width: 100vw !important;
        overflow-x: hidden
    }
}

i.material-icons {
    color: var(--primary-color)
}

.picks>.title {
    padding-top: 3rem;
    margin-left: 2.5vh;
    font-size: 2rem !important
}

.announce {
    font-size: 3.4rem;
    text-shadow: 0 0 15px var(--primary-color) !important
}

@media screen and (min-width:901px) {
    .announce {
        letter-spacing: 1.2rem !important
    }
}

@media screen and (max-width:900px) {
    .announce {
        font-size: 6vw !important;
        letter-spacing: 2vw !important
    }
}

.post_link {
    width: 100vw;
    display: inline-flex
}

@media screen and (max-width:500px) {
    .picks>.title {
        margin-left: 0
    }
    .text-section .title {
        font-size: 2em !important
    }
    .text-section {
        margin: 0 auto;
        padding: 0
    }
    .title {
        font-size: 10vw
    }
}

@media screen and (max-width:800px) {
    .text-section>p:not(:first-child) {
        display: none
    }
    .text-section {
        padding-top: 14%
    }
    .uk-slideshow-items {
        height: 300px
    }
}