.main-div {
    margin: 0.8rem;
    text-align: center;
}

.entry,
.mdc-text-field--textarea {
    width: 95% !important;
    max-width: 500px;
}

.new-name {
    width: 129px;
    /*2px space*/
}

span.title-up {
    font-size: 1.7rem;
}
.tab-menu-link {
    width: 100%;
}

#supp {
    margin-top: 1rem;
}

.tab-menu-link {
    cursor: initial;
}

@media screen and (max-width: 991px) {
    #supp_div {
        width: 100vw !important;
    }
}