---
layout: none
---
<!doctype html>
<html>

<head>
    {% include head.html %}
    <script>
        function redirect() {
            location.href = "/dashboard"
        }
    </script>
</head>

<body onload="redirect();">
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
</body>

</html>