---
permalink: /404.html
layout: none
---
<!doctype html>
<html lang="en">

<head>
    {% include head.html %}
    <title>404</title>
    <style type="text/css" media="screen">
        .container {
            margin: 10px auto;
            text-align: center;
            position: absolute;
            top: 25%;
            width: 100%;
        }

        h1 {
            margin: 30px 0;
            font-size: 4em;
            line-height: 1;
            letter-spacing: -1px;
        }

        p {
            text-align: center;
        }

        .footer {
            position: absolute;
        }
    </style>
</head>

<body onload="themeInitializer();">
    {% include sidebar.html %}
    <div class="container">
        <h1>404</h1>

        <p><strong>Page not found :(</strong></p>
        <p>Either the requested page cannot be found or you are offline</p>
    </div>
    
  {% include footer.html %} 
    {% include firebase_base.html %}
</body>


</html>