---
layout: page
permalink: /add
---

<head>
	<title>Add A Club </title>
	<meta name="description" content="Add a club to contribute to Aster's evergrowing database!">
	{% include head.html %}
	<link rel="stylesheet" href="../assets/css/add-club.css" />
	<script type="text/javascript">
		function init() {
			imageArray = [];
			uploadDiv = document.getElementById("uploadDivHTML");
			//Determines maximum num of uploadable images
			//Maybe we should encrypt this so people don't mess with inspect element
			maxImages = 3;

			for (var el of document.getElementsByClassName("mdc-text-field")) {
				mdc.textField.MDCTextField.attachTo(el);
			}

		}
	</script>
	<script type="text/javascript" src="../assets/js/contact.js"></script>
	<style>
		#contact_form div input {
			padding: 13px;
		}

		.subject select {
			width: 95%;
		}

		#category+.select2 {
			width: 100% !important;
		}

		h2 {
			text-align: center;
		}

		.entry {
			width: 100%;
			--mdc-theme-primary: var(--primary-color);
			border-color: var(--main-text-color);
		}

		.filter_menu>.sub_menu label {
			text-align: left;
		}

		.cat input[type="checkbox"]+label:before {
			width: 19px;
			height: 19px
		}
	</style>
</head>

<body onload="init(); themeInitializer();">
	<noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
		JavaScript.</noscript>
	{% include sidebar.html %}

	<div class="padding"></div>

	<!-- The Modal -->
	<div id="thankModal" class="mdc-dialog">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="mdc-dialog__content" id="modal-text">
				One or more of your fields has not been filled or has been filled incorrectly.
			  </div>
			   <footer class="mdc-dialog__footer">
				<div class="mdc-dialog__actions">
					<button type="button" class="mdc-button mdc-dialog__button close">
					  <div class="mdc-button__ripple"></div>
					  <span class="mdc-button__label" style="color: var(--primary-color)">Close</span>
					</button>
					
				</div>
			   </footer>
			 
		</div>
		
	</div>
	<!-- Add club -->
	<div id="add-club" class="sul-box-raised-3">
		<h1>Add A Club</h1>
		<form id="contact_form" onsubmit="return false;">
			<h2>Club Info</h2>
			<br /><br />
			<div class="mdc-text-field mdc-text-field--outlined entry">
				<input class="mdc-text-field__input" name="schoolname" id="schoolnamefield" required>
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="schoolnamefield" class="mdc-floating-label">School name</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<br /><br />
			<div class="mdc-text-field mdc-text-field--outlined entry">
				<input class="mdc-text-field__input" name="clubname" id="clubnamefield" required>
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="clubnamefield" class="mdc-floating-label">Club name</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<br /><br />
			<div class="mdc-text-field mdc-text-field--outlined entry">
				<input class="mdc-text-field__input" name="rm" id="rmfield" required>
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="rmfield" class="mdc-floating-label">Club's room</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<br /><br />
			<div class="mdc-text-field mdc-text-field--outlined entry">
				<input class="mdc-text-field__input" name="time" id="meetfield" required>
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="meetfield" class="mdc-floating-label">Meeting time</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<br /><br />
			<div class="mdc-text-field mdc-text-field--outlined entry">
				<input class="mdc-text-field__input" name="meet" id="dayfield" required>
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="dayfield" class="mdc-floating-label">Meeting day</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<br /><br /><br />

			<h2>Club Contact Info</h2>
			<br /><br />

			<div class="mdc-text-field mdc-text-field--outlined entry">
				<input class="mdc-text-field__input" name="president" id="preznamefield" required>
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="preznamefield" class="mdc-floating-label">President's name</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<br /><br />
			<div class="mdc-text-field mdc-text-field--outlined entry">
				<input type="email" class="mdc-text-field__input" name="prezemail" id="prezemailfield" required>
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="prezemailfield" class="mdc-floating-label">President's email</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<br /><br />
			<div class="mdc-text-field mdc-text-field--outlined entry">
				<input class="mdc-text-field__input" name="adv" id="advnamefield" required>
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="advnamefield" class="mdc-floating-label">Advisor's name</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<br /><br />
			<div class="mdc-text-field mdc-text-field--outlined entry">
				<input type="email" class="mdc-text-field__input" name="advemail" id="advemailfield" required>
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="advemailfield" class="mdc-floating-label">Advisor's email</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<br /><br /><br />

			<h2>Club Description and Tags</h2>
			<br /><br /><br />
			<fieldset class="filter_menu" style="display:flex !important;width:100%;">
				<div class="sub_menu">

					<div class="cat">
						<input id="a" type="checkbox" name="category[]" value="Activism">
						<label for="a"> Activism </label>
					</div>

					<div class="cat">
						<input id="b" type="checkbox" name="category[]" value="Art">
						<label for="b"> Art </label>
					</div>

					<div class="cat">
						<input id="c" type="checkbox" name="category[]" value="Competitive">
						<label for="c"> Competitive </label>
					</div>

					<div class="cat">
						<input id="d" type="checkbox" name="category[]" value="Creative">
						<label for="d"> Creative </label>
					</div>

					<div class="cat">
						<input id="e" type="checkbox" name="category[]" value="Culture">
						<label for="e"> Culture </label>
					</div>

					<div class="cat">
						<input id="f" type="checkbox" name="category[]" value="Dance">
						<label for="f"> Dance </label>
					</div>

					<div class="cat">
						<input id="g" type="checkbox" name="category[]" value="Literature">
						<label for="g"> Literature </label>
					</div>

					<div class="cat">
						<input id="h" type="checkbox" name="category[]" value="Hobby">
						<label for="h"> Hobby </label>
					</div>

					<div class="cat">
						<input id="i" type="checkbox" name="category[]" value="Music">
						<label for="i"> Music </label>
					</div>

					<div class="cat">
						<input id="j" type="checkbox" name="category[]" value="Professional">
						<label for="j"> Professional </label>
					</div>

					<div class="cat">
						<input id="k" type="checkbox" name="category[]" value="Public speaking">
						<label for="k"> Public Speaking </label>
					</div>

					<div class="cat">
						<input id="l" type="checkbox" name="category[]" value="Recreational">
						<label for="l"> Recreational </label>
					</div>

					<div class="cat">
						<input id="m" type="checkbox" name="category[]" value="Social">
						<label for="m"> Social </label>
					</div>

					<div class="cat">
						<input id="n" type="checkbox" name="category[]" value="Sports">
						<label for="n"> Sports </label>
					</div>

					<div class="cat">
						<input id="o" type="checkbox" name="category[]" value="STEM">
						<label for="o"> STEM </label>
					</div>

					<div class="cat">
						<input id="p" type="checkbox" name="category[]" value="Student organization">
						<label for="p"> Student organization </label>
					</div>

					<div class="cat">
						<input id="q" type="checkbox" name="category[]" value="Volunteering">
						<label for="q"> Volunteering </label>
					</div>


					<br />
				</div>

				<br />
			</fieldset>
			<br /><br />
			<div class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea entry">
				<textarea class="mdc-text-field__input" name="message" cols="30" rows="5" id="descriptionfield"
					required></textarea>
				<div class="mdc-notched-outline">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label for="descriptionfield" class="mdc-floating-label">Club description</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<br /><br />

			<h2>Upload Club Images</h2>
			<br />
			<div class="entry" id="imgDiv">
				<label for="fileUpload" class="material-icons">cloud_upload</label>
				<input id="fileUpload" type="file" accept="image/*" onchange="initUpload(this, true);" />

				<div id="uploadDivHTML"></div>
			</div>

		</form><!-- // End form -->
		<button class="sul-btn btn-primary" style="margin-bottom: 1.4rem;" type="submit" onclick="submit()" class="flat"
			id="submit">
			<span class="title-up">Submit</span>
		</button>
	</div> <!-- End container -->
	
	{% include footer.html %} 
</body>