---
layout: default
permalink: /clubs
--- 

<br />
<div id="browse-container">
    <!-- Search -->
    <div id="browseheader">
        <div class="searchbox">
            <div class="mdc-text-field mdc-text-field--outlined entry browsesearch" id="searchBox">
                <input class="mdc-text-field__input" id="search">
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="search" class="mdc-floating-label">Search</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
            <span id="searchbtncontainer">
                <button id="search-btn" class="applyButton btn-primary sul-btn header-btn"><i
                        class="material-icons">search</i></button>
                <button id="add-btn" onclick="location.href='/add'"
                    class="applyButton btn-primary sul-btn header-btn"><i class="material-icons">note_add</i></button>
                <button id="random-btn" class="applyButton btn-primary sul-btn header-btn"><i
                        class="material-icons">casino</i></button>
            </span>
        </div>
        <button class="filter_link">
            <i class="material-icons align-icons">tune</i>
            Advanced Filter
        </button>
    </div>
    <fieldset class="filter_menu">
        <div class="sub_menu">
            <span class="tags">Schools</span>
            <br />
            <div class="column">
                <div class="cat">
                    <input type="checkbox" name="school[]" value="Beacon" id="0">
                    <label for="0"> Beacon </label>
                </div>
                <div class="cat">
                    <input id="1" type="checkbox" name="school[]" value="Bronx Center for Science and Mathematics">
                    <label for="1"> Bronx Center for Science and Mathematics </label>
                </div>
                <div class="cat">
                    <input id="2" type="checkbox" name="school[]" value="Bronx Science">
                    <label for="2"> Bronx Science </label>
                </div>
            </div>
            <div class="column">
                <div class="cat">
                    <input id="3" type="checkbox" name="school[]" value="Brooklyn Latin">
                    <label for="3"> Brooklyn Latin </label>
                </div>
                <div class="cat">
                    <input id="4" type="checkbox" name="school[]" value="Brooklyn Technical">
                    <label for="4"> Brooklyn Technical </label>
                </div>
                <div class="cat">
                    <input id="5" type="checkbox" name="school[]" value="Columbia Secondary">
                    <label for="5"> Columbia Secondary </label>
                </div>
            </div>
            <div class="column">
                <div class="cat">
                    <input id="6" type="checkbox" name="school[]" value="Manhattan Center for Science and Mathematics">
                    <label for="6"> Manhattan Center for Science and Mathematics </label>
                </div>
                <div class="cat">
                    <input id="7" type="checkbox" name="school[]" value="Millennium Brooklyn">
                    <label for="7"> Millennium Brooklyn </label>
                </div>
                <div class="cat">
                    <input id="8" type="checkbox" name="school[]" value="NEST+m">
                    <label for="8"> NEST+M </label>
                </div>
            </div>
        </div>
        <div class="sub_menu">
            <span class="tags">Categories</span>
            <br />
            <div class="column">
                <div class="cat">
                    <input id="a" type="checkbox" name="category[]" value="Activism">
                    <label for="a"> Activism </label>
                </div>
                <div class="cat">
                    <input id="b" type="checkbox" name="category[]" value="Art">
                    <label for="b"> Art </label>
                </div>
                <div class="cat">
                    <input id="c" type="checkbox" name="category[]" value="Competitive">
                    <label for="c"> Competitive </label>
                </div>
                <div class="cat">
                    <input id="d" type="checkbox" name="category[]" value="Creative">
                    <label for="d"> Creative </label>
                </div>
                <div class="cat">
                    <input id="e" type="checkbox" name="category[]" value="Culture">
                    <label for="e"> Culture </label>
                </div>
                <div class="cat">
                    <input id="f" type="checkbox" name="category[]" value="Dance">
                    <label for="f"> Dance </label>
                </div>
            </div>
            <div class="column">
                <div class="cat">
                    <input id="g" type="checkbox" name="category[]" value="Literature">
                    <label for="g"> Literature </label>
                </div>
                <div class="cat">
                    <input id="h" type="checkbox" name="category[]" value="Hobby">
                    <label for="h"> Hobby </label>
                </div>
                <div class="cat">
                    <input id="i" type="checkbox" name="category[]" value="Music">
                    <label for="i"> Music </label>
                </div>
                <div class="cat">
                    <input id="j" type="checkbox" name="category[]" value="Professional">
                    <label for="j"> Professional </label>
                </div>
                <div class="cat">
                    <input id="k" type="checkbox" name="category[]" value="Public speaking">
                    <label for="k"> Public Speaking </label>
                </div>
                <div class="cat">
                    <input id="l" type="checkbox" name="category[]" value="Recreational">
                    <label for="l"> Recreational </label>
                </div>
            </div>
            <div class="column">
                <div class="cat">
                    <input id="m" type="checkbox" name="category[]" value="Social">
                    <label for="m"> Social </label>
                </div>
                <div class="cat">
                    <input id="n" type="checkbox" name="category[]" value="Sports">
                    <label for="n"> Sports </label>
                </div>
                <div class="cat">
                    <input id="o" type="checkbox" name="category[]" value="STEM">
                    <label for="o"> STEM </label>
                </div>
                <div class="cat">
                    <input id="p" type="checkbox" name="category[]" value="Student organization">
                    <label for="p"> Student organization </label>
                </div>
                <div class="cat">
                    <input id="q" type="checkbox" name="category[]" value="Volunteering">
                    <label for="q"> Volunteering </label>
                </div>
                <br />
            </div>
            <br />
        </div>
        <div class="sub_menu">
            <span class="tags">Days of the Week</span>
            <br />
            <div class="cat column">
                <input id="mon" type="checkbox" name="week[]" value="Monday">
                <label for="mon"> Monday </label>
            </div>
            <div class="cat column">
                <input id="tues" type="checkbox" name="week[]" value="Tuesday">
                <label for="tues"> Tuesday </label>
            </div>
            <div class="cat column">
                <input id="wed" type="checkbox" name="week[]" value="Wednesday">
                <label for="wed"> Wednesday </label>
            </div>
            <div class="cat column">
                <input id="thurs" type="checkbox" name="week[]" value="Thursday">
                <label for="thurs"> Thursday </label>
            </div>
            <div class="cat column">
                <input id="fri" type="checkbox" name="week[]" value="Friday">
                <label for="fri"> Friday </label>
            </div>
            <br />
        </div>
        <div class="sub_menu">
            <span class="tags">Filter out those not on your list?</span>
            <br />
            <div class="cat">
                <input id="lst" type="checkbox" name="list" value="true">
                <label for="lst"> On my list only </label>
            </div>
            <br />
            <button class="applyButton sul-btn btn-primary" onclick="searchData(false);">Apply Filters</button>
        </div>
        <br />
    </fieldset>
    <br />
</div>
<script src="/assets/js/browse.js"></script>
<script src="../assets/js/random.js"></script>