---
layout: page
permalink: /contributors
---

<head>
    {% include head.html %}
    <title>Contributors</title>
    <script src="https://kit.fontawesome.com/0fa5d07aea.js" crossorigin="anonymous"></script>
    <script src="./assets/js/contribute.js"></script>
    <link href="./assets/css/contribute.css" rel="stylesheet" />
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    {% include sidebar.html %}
</head>

<body onload="themeInitializer();">
    <div style="padding-top:2rem;"></div>
    <div id="contribSectionHTML">
        <div class="intro">
            <h1>contributors</h1>
            These are all the people who have made Aster possible. We sincerely thank all the staff team for making all this possible.
        </div> <br /><br /><br />
        <h2>Software Developers</h2> <br />

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Meow.gif" />
            <div class="innerDiv">
                <h1>Steven</h1>
                <span class="roleSpan">Fullstack Developer</span>
                <div>
                    Cat is a cat that likes to barbeque cats inside a cat house made for cats. When Cat programs his cat, he 
                    concats the cation with his cat's tiny cat. Cat's favorite food is Kit Kats that he shares with his cat 
                    when he tries to find how many cats that his cat concat. Cat yo needo
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Issac</h1>
                <span class="roleSpan">Fullstack Developer</span>
                <div>
                    Iscii. Am Weeb. Yo needo more.
                </div>
            </div>
        </div>
        
        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Becc.png" />
            <div class="innerDiv">
                <h1>Rebecca</h1>
                <span class="roleSpan">Lead Developer</span>
                <div>
                    Rebecca is a student at Brooklyn Tech. While we do not have any information about her bios due to it being 
                    lost somewhere inside the 9th floor back attic, we do know she is 0.95 Jokangs tall.
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Justin.png" />
            <div class="innerDiv">
                <h1>Justin</h1>
                <span class="roleSpan">Data Developer</span>
                <div>
                    Justin is a trumpety seal at Brooklyn Tech that likes to meme around. Other than promoting the egg pudding 
                    industry by accident, he likes to mess with his discord bot and grind video games. If you use dark mode, 
                    he's probably very disappointed in you. Probably the only data developer that hates math with a passion.
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Shaedil</h1>
                <span class="roleSpan">Developer</span>
                <div>
                   Shaedil is a 2022 in the aerospace major at BTHS, he exists in symbiosis with his environment and friends, 
                   adapting when required. His interests range from the intersection of design and data to the lesser known 
                   capabilities of the terminal to aerospace and robotics. Once a man like he has entered the terminal, he left 
                   there at the entrance, his gui-posessions... He plays the clarinet a little, composes a litle, learns a little, 
                   and sleeps a little, and is known for his persistence in a challenge/problem.
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Michael</h1>
                <span class="roleSpan">Developer</span>
                <div>
                    Yo needo.
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Evey.png" />
            <div class="innerDiv">
                <h1>Evelyn</h1>
                <span class="roleSpan">Lead Data Manager</span>
                <div>
                    Evey is gamer.
                </div>
            </div>
        </div>
        <br />
        <h2>Designers</h2> <br />

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Daniel</h1>
                <span class="roleSpan">Lead Designer</span>
                <div>
                    Daniel is the lead designer for Aster, but yo still needo.
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Nicole</h1>
                <span class="roleSpan">Design</span>
                <div>
                    Yo needo.
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Cadence</h1>
                <span class="roleSpan">Designer</span>
                <div>
                    Yo needo.
                </div>
            </div>
        </div> <br />

        <h2>Community Managers</h2> <br />

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Zoom.png" />
            <div class="innerDiv">
                <h1>Dan</h1>
                <span class="roleSpan">Chief Recruitment Manager</span>
                <div>
                    Dan Viderman'21 goes to Brooklyn Technical High School. He is a Weston Research Scholar, the most exclusive 
                    program in BTHS, on the Math Team, where he got the top score on the AMC10B, on the debate team, where he 
                    consitentlu get awards, and the NYU ITEST Team, where we was chosen to represent Brooklyn Tech. During his free time, 
                    he enjoys cadding, playing chess, and debating. 
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Emerson</h1>
                <span class="roleSpan">CM</span>
                <div>
                    Emerson Chen is a 2023 at Brooklyn Technical. He is the Secretary of the Mural Painting Club and enjoys 
                    Volunteering. His hobbies include painting, playing the piano, and experimenting with math while spreading 
                    happiness :3.
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Zak</h1>
                <span class="roleSpan">CM</span>
                <div>
                    Zak is a 2024 at Leon M. Goldstein High School For the Sciences. He is a member of the prstigious Science 
                    Olympiad team at his school and aspires to be an engineer in the future. He likes coding, math, physics, 
                    chemisry, being with his friends, and using discord.
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Ashley</h1>
                <span class="roleSpan">CM</span>
                <div>
                   Ashley is a 2022 in the Social Science Research major at BTHS. Whe she's not working on Aster or doing 
                   homework, she's playing video games, eating, or volunteering. Also, she really like bubble tea and 
                   cats. If you ever have any questions or wanna talk, you are always free to reach out to her!
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Ethan</h1>
                <span class="roleSpan">CM</span>
                <div>
                    Aside from the the fact yo needo, Ethan is a quackity duck that is 1.05 JoKangs tall. He likes to play
                    Badminton and run Justin over with his scooter. Quack. Redistribute the money.
                </div>
            </div>
        </div>

        <div class="contrib">
            <img src="../assets/images/Contributor Photo/Iscii.png" />
            <div class="innerDiv">
                <h1>Raina</h1>
                <span class="roleSpan">CM</span>
                <div>
                    Yo needo.
                </div>
            </div>
        </div>

    </div>
</body>