---
layout: page
permalink: /cookie
---
<head>
    {% include head.html %}
    <title>Cookie Policy</title>
    <style>
        #content {
            top: 5rem;
			padding: 60px;
			margin-top: 29px;
			font-size: 19.2px;
			line-height: 1.7;
			box-shadow: 0 0 0 var(--color-white),1px 1px 4px var(--color-shadow);
        }

        #content p {
            text-align: justify;
        }
        a {
            text-decoration: underline;
        }
		h2 {
			font-weight: 700;
			text-transform: uppercase;
			font-size: 49.6px;
			line-height: 1;
		}
		h3 {
			font-size: 19.2px;
			font-weight: 600;
		}
    </style>
</head>

<body onload="themeInitializer();">
    {% include sidebar.html %}
    <div id="content" class="section" style="background-color: var(--card-bg)">
		<h2>COOKIE POLICY</h2>
		<h3>Last updated August 31, 2020</h3><br />
		This Cookie Policy explains how Aster uses cookies and similar technologies to recognize you when you visit our website at <a href="https://aster.nyc" target="_blank" rel="noopener" data-custom-class="link">https://aster.nyc</a>. It explains what these technologies are and why we use them, as well as your rights to control our use of them.<br /><br />
		In some cases we may use cookies to collect personal information, or that becomes personal information if we combine it with other information.<br /><br />
		<h3>WHAT ARE COOKIES?</h3><br />
		Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting information.<br /><br />
		Cookies set by the website owner (in this case, Aster) are called "first party cookies". Cookies set by parties other than the website owner are called "third party cookies". Third party cookies enable third party features or functionality to be provided on or through the website (e.g. like advertising, interactive content and analytics). The parties that set these third party cookies can recognize your computer both when it visits the website in question and also when it visits certain other websites.<br /><br />
		<h3>WHY DO WE USE COOKIES?</h3><br />
		We use first and third party cookies for several reasons. Some cookies are required for technical reasons in order for our Websites to operate, and we refer to these as "essential" or "strictly necessary" cookies. Other cookies also enable us to track and target the interests of our users to enhance the experience on our Online Properties. Third parties serve cookies through our Websites for advertising, analytics and other purposes. This is described in more detail below.<br /><br />
		The specific types of first and third party cookies served through our Websites and the purposes they perform are described below (please note that the specific cookies served may vary depending on the specific Online Properties you visit):<br /><br />
		<h3>HOW CAN I CONTROL COOKIES?</h3><br />
		You have the right to decide whether to accept or reject cookies. You can exercise your cookie rights by setting your preferences in the Cookie Consent Manager. The Cookie Consent Manager allows you to select which categories of cookies you accept or reject. Essential cookies cannot be rejected as they are strictly necessary to provide you with services.<br /><br />
		The Cookie Consent Manager can be found in the notification banner and on our website. If you choose to reject cookies, you may still use our website though your access to some functionality and areas of our website may be restricted. You may also set or amend your web browser controls to accept or refuse cookies. As the means by which you can refuse cookies through your web browser controls vary from browser-to-browser, you should visit your browser's help menu for more information.<br /><br />
		In addition, most advertising networks offer you a way to opt out of targeted advertising. If you would like to find out more information, please visit&nbsp;<a href="http://www.aboutads.info/choices/" target="_blank" rel="noopener" data-custom-class="link">http://www.aboutads.info/choices/</a>&nbsp;or&nbsp;<a href="http://www.youronlinechoices.com" target="_blank" rel="noopener" data-custom-class="link" data-fr-linked="true">http://www.youronlinechoices.com</a>.<br /><br />
		The specific types of first and third party cookies served through our Websites and the purposes they perform are described in the table below (please note that the specific&nbsp;cookies served may vary depending on the specific Online Properties you visit):<h3><u><br /><br />Essential website cookies:</u></h3><br />
		
		These cookies are strictly necessary to provide you with services available through our Websites and to use some of its features, such as access to secure areas.<br /><br />
		
		<table>
			<tbody>
				<tr><td>Name:</td><td>__tlbcpv</td></tr>
				<tr><td>Purpose:</td><td>Used to record unique visitor views of the consent banner.</td></tr>
				<tr><td>Provider:</td><td>.termly.io</td></tr>
				<tr><td>Service:</td><td>Termly <a href="https://termly.io/our-privacy-policy/" target="_blank" rel="noopener">View Service Privacy Policy</a></td></tr>
				<tr><td>Country:</td><td>United States</td></tr>
				<tr><td>Type:</td><td>http_cookie</td></tr>
				<tr><td>Expires in:</td><td>1 year</td></tr>
			</tbody>
		</table>
		<br /><br />

		<h3>WHAT ABOUT OTHER TRACKING TECHNOLOGIES, LIKE WEB BEACONS?</h3><br />
		Cookies are not the only way&nbsp;to recognize or track visitors to a website. We may use other, similar technologies from time to time, like web beacons (sometimes called "tracking pixels" or "clear gifs"). These are tiny graphics files that contain a unique identifier that enable us to recognize when someone has visited our Websites or opened an e-mail including them. This allows us, for example, to monitor&nbsp;the traffic patterns of users from one page within a website to another, to deliver or communicate with cookies, to understand whether you have come to the website from an online advertisement displayed on a third-party website, to improve site performance, and to measure the success of e-mail marketing campaigns. In many instances, these technologies are reliant on cookies to function properly, and so declining cookies will impair their functioning.<br /><br />
		<h3>DO YOU USE FLASH COOKIES OR LOCAL SHARED OBJECTS?</h3><br />
		Websites may also use so-called "Flash Cookies" (also known as Local Shared Objects or "LSOs") to, among other things, collect and store information about your use of our services, fraud prevention and for other site operations.<br /><br />
		If you do not want Flash Cookies stored on your computer, you can adjust the settings of your Flash player to block Flash Cookies storage using the tools contained in the&nbsp;<a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html" target="_BLANK" data-custom-class="link">Website Storage Settings Panel</a>. You can also control Flash Cookies by going to the&nbsp;<a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager03.html" target="_BLANK" data-custom-class="link">Global Storage Settings Panel</a>&nbsp;and&nbsp;following the instructions (which may include instructions that explain, for example, how to delete existing Flash Cookies (referred to "information" on the Macromedia site), how to prevent Flash LSOs from being placed on your computer without your being asked, and (for Flash Player 8 and later) how to block Flash Cookies that are not being delivered by the operator of the page you are on at the time).<br /><br />
		Please note that setting the Flash Player to restrict or limit acceptance of Flash Cookies may reduce or impede the functionality of some Flash applications, including, potentially, Flash applications used in connection with our services or online content.<br /><br />
		<h3>DO YOU SERVE TARGETED ADVERTISING?</h3><br />
		Third parties may serve cookies on your computer or mobile device to serve advertising through our Websites. These companies may use information about your visits to this and other websites in order to provide relevant advertisements about goods and services that you may be interested in. They may also employ technology that is used to measure the effectiveness of advertisements. This can be accomplished by them using cookies or web beacons to collect information about your visits to this and other sites in order to provide relevant advertisements about goods and services of potential interest to you. The information collected through this process does not enable us or them to identify your name, contact details or other details that directly identify you unless you choose to provide these.<br /><br />
		<h3>HOW OFTEN WILL YOU UPDATE THIS COOKIE POLICY?</h3><br />
		We may update&nbsp;this Cookie Policy from time to time in order to reflect, for example, changes to the cookies we use or for other operational, legal or regulatory reasons. Please therefore re-visit this Cookie Policy regularly to stay informed about our use of cookies and related technologies.<br /><br />
		The date at the top of this Cookie Policy indicates when it was last updated.<br /><br />
		<h3>WHERE CAN I GET FURTHER INFORMATION?</h3><br />
		If you have any questions about our use of cookies or other technologies, please email us at aster.clubs@gmail.com<br /><br />
		This cookie policy was created using <a href="https://termly.io/en/products/cookie-consent-manager/?ftseo">Termly&rsquo;s Cookie Consent Manager</a>.<br /><br />
	</div>
	
  {% include footer.html %} 
</body>
