---
layout: page
permalink: /credits
---
<head>
    {% include head.html %}
    <title>Credits</title>
    <style>
        #content {
            position: absolute;
            top: 5rem;
            padding: 60px;
			margin-top: 29px;
			width: 100%;
			font-size: 19.2px;
			line-height: 1.7;
			box-shadow: 0 0 0 var(--color-white),1px 1px 4px var(--color-shadow);
        }
        a {
            text-decoration: underline;
        }
		ul li {
			list-style-type: circle;
			margin-left: 35px;
			line-height:2em;
		}
        .nav-wrapper ul li {
			list-style-type: initial;
			margin-left: initial;
			line-height:initial;
		}
		h2 {
			font-weight: 700;
			text-transform: uppercase;
			font-size: 49.6px;
			line-height: 1;
		}
		h3 {
			font-size: 19.2px;
			font-weight: 600;
		}
    </style>
</head>

<body onload="themeInitializer();">
    {% include sidebar.html %}
    <div style="padding:3.4rem"></div>
    <div id="content" class="section" style="background-color: var(--card-bg)">
		<h2>Third Party Software Credits</h2> <!-- duplicate structure for additional sections -->
		<h3>Last updated August 31, 2020</h3><br />
        <ul>
            <li>DOMPurify &nbsp;&nbsp; <a href="https://github.com/cure53/DOMPurify/blob/main/LICENSE" target="_blank">License</a> &nbsp;&nbsp; <a href="https://github.com/cure53/DOMPurify" target="_blank">Homepage</a></li>
            <li>Feather &nbsp;&nbsp; <a href="https://github.com/feathericons/feather/blob/master/LICENSE" target="_blank">License</a> &nbsp;&nbsp; <a href="https://github.com/feathericons/feather" target="_blank">Homepage</a></li>
            <li>Firebase JS SDK &nbsp;&nbsp; <a href="https://github.com/firebase/firebase-js-sdk/blob/master/LICENSE" target="_blank">License</a> &nbsp;&nbsp; <a href="https://github.com/firebase/firebase-js-sdk" target="_blank">Homepage</a></li>
            <li>Font Awesome &nbsp;&nbsp; <a href="https://fontawesome.com/license/free" target="_blank">License</a> &nbsp;&nbsp; <a href="https://fontawesome.com/" target="_blank">Homepage</a></li>
            <li>JQuery &nbsp;&nbsp; <a href="https://jquery.org/license/" target="_blank">License</a> &nbsp;&nbsp; <a href="https://jquery.com/" target="_blank">Homepage</a></li>
            <li>Material Components Web &nbsp;&nbsp; <a href="https://github.com/material-components/material-components-web/blob/master/LICENSE" target="_blank">License</a> &nbsp;&nbsp; <a href="https://github.com/material-components/material-components-web" target="_blank">Homepage</a></li>
            <li>Material Design Icons &nbsp;&nbsp; <a href="https://github.com/google/material-design-icons/blob/master/LICENSE" target="_blank">License</a> &nbsp;&nbsp; <a href="https://github.com/google/material-design-icons" target="_blank">Homepage</a></li>
            <li>Poppins &nbsp;&nbsp; <a href="https://fonts.google.com/specimen/Poppins#license" target="_blank">License</a> &nbsp;&nbsp; <a href="https://fonts.google.com/specimen/Poppins" target="_blank">Homepage</a></li>
            <li>Roboto &nbsp;&nbsp; <a href="https://fonts.google.com/specimen/Roboto#license" target="_blank">License</a> &nbsp;&nbsp; <a href="https://fonts.google.com/specimen/Roboto" target="_blank">Homepage</a></li>
            <li>Soft UI Library &nbsp;&nbsp; <a href="https://github.com/katendeglory/soft-ui-library" target="_blank">Homepage</a></li>
            <li>Staatliches &nbsp;&nbsp; <a href="https://fonts.google.com/specimen/Staatliches#license" target="_blank">License</a> &nbsp;&nbsp; <a href="https://fonts.google.com/specimen/Staatliches" target="_blank">Homepage</a></li>
            <li>SVGOMG / Trusted Web Activity &nbsp;&nbsp; <a href="https://github.com/GoogleChromeLabs/svgomg-twa/blob/master/LICENSE" target="_blank">License</a> &nbsp;&nbsp; <a href="https://github.com/GoogleChromeLabs/svgomg-twa" target="_blank">Homepage</a></li>
            <li>UIkit &nbsp;&nbsp; <a href="https://github.com/uikit/uikit/blob/develop/LICENSE.md" target="_blank">License</a> &nbsp;&nbsp; <a href="https://github.com/uikit/uikit" target="_blank">Homepage</a></li>
		</ul>
		</div>
        <br />
    </div>
    
  {% include footer.html %} 
</body>