---
layout: dash
permalink: /mypage
---
<head>
    <title>My Page</title>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/custom.css">
    <script src="assets/js/cardUtils.min.js"></script>
    <script src="assets/js/suggest.js"></script>
</head>

<body onload="themeInitializer();">
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    {% include sidebar.html %}
    <div class="padding"></div>
    <div class="browse-clubs">
        <h1 class="title">Suggested</h1>
        <hr>
        <div id="suggestedClubs" class="cards">

        </div>

        <h1 class="title">Recently Browsed</h1>
        <hr>
        <div id="recentClubs" class="cards">

        </div>

        <!--
             <h1>Newly Added</h1>
        <hr>
        <div id="newClubs" class="cards">

        </div>
        -->
    </div>

</body>
