---
layout: dash
permalink: /dashboard
---

<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    {% include head.html %}
    <script src="https://kit.fontawesome.com/0fa5d07aea.js" crossorigin="anonymous"></script>
    <script src="../assets/js/pfp.js"></script>
    <link rel="stylesheet" href="../assets/css/dashboard.css">
</head>

<body onload="themeInitializer(); init();" onresize="sAdjust();">
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    {% include sidebar.html %}
    <header class="side-dash">
        <ul>
            <li class="dash-link" id="profiletab" onclick="selectTab(this)">
                <i class="material-icons-outlined">account_circle</i>
                <span>Profile</span>
            </li>
            <li class="dash-link" id="clubstab" onclick="selectTab(this)">
                <i class="material-icons-outlined">view_list</i>
                <span>List</span>
            </li>
            <li class="dash-link" id="reviewstab" onclick="selectTab(this)">
                <i class="material-icons-outlined">chat_bubble_outline</i>
                <span>Reviews</span>
            </li>
            <!--<li class="dash-link"><i class="dash-icon" data-feather="heart"></i>Favorites</li>-->
        </ul>
    </header>
    <div class="dashboard">
        <div style="padding-top:2rem;"></div>
        <div id="profile">
            <div class="profile-box">
                <img id="pfp" onclick="document.getElementById('fileUpload').click();"
                    onmouseover="pfpSpanAdjust(true);" />
                <span id="pfpSpan" onmouseout="pfpSpanAdjust(false);"
                    onclick="document.getElementById('fileUpload').click();">
                    <i class="material-icons" onmouseover="pfpSpanAdjust(true);">edit</i>
                </span>
            </div>
            <div class="profile-box">
                <div class="info-field">
                    <div class="field">
                        <h3 class="field-label">Name</h3>
                        <div class="info-box basic-box" id="name-box">
                            <span class="user-info" id="name"></span>
                        </div>
                    </div>
                    <div class="field">
                        <h3 class="field-label">Username</h3>
                        <div class="info-box basic-box" id="username-box">
                            <span class="user-info" id="username"></span>
                        </div>
                    </div>
                    <div class="field">
                        <h3 class="field-label">Email</h3>
                        <div class="info-box basic-box" id="email-box">
                            <span class="user-info" id="email"></span>
                        </div>
                    </div>
                    <div class="field" id="password-field-container">
                        <h3 class="field-label">Password</h3>
                        <div class="info-box" id="password-box">
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--label-floating user-field"
                                id="password-field">
                                <input id="password" type="password" autocomplete="new-password"
                                    placeholder="Current Password" required>
                                <i class="far fa-eye" id="toggle-password"></i>
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch"></div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--label-floating user-field changePw"
                                id="new-password-field">
                                <input id="new-password" type="password" autocomplete="new-password"
                                    placeholder="New Password">
                                <i class="far fa-eye" id="toggle-new-password"></i>
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch"></div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--label-floating user-field changePw"
                                id="confirm-password-field">
                                <input id="confirm-new-password" type="password" autocomplete="new-password"
                                    placeholder="Confirm Password">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch"></div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                        </div>
                        <div id="change-password">Change Password?</div>
                    </div>
                    <button id="change-info" class="changeBtn sul-btn btn-profile">Edit</button>
                    <button id="confirm-info" class="confirmBtn sul-btn btn-primary">Confirm</button>
                    <br /> <br /> <br />

                    <details class="danger_details">
						<summary>Danger</summary>
						<br />
                        <div class="mdc-text-field mdc-text-field--outlined entry">
                            <input class="mdc-text-field__input" type="email" id="delete-email">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="delete-email" class="mdc-floating-label">Email</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
						<br />
                        <div class="mdc-text-field mdc-text-field--outlined entry">
                            <input class="mdc-text-field__input truncated" type="password" id="delete-pw"
                                autocomplete="new-password">
                            <i class="far fa-eye" id="toggle-delete"></i>
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="password" class="mdc-floating-label">Password</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                        <br /> 
                        <br />
                        <button id="deleteBtn" class="changeBtn sul-btn btn-profile" onclick="delInit(this);" style="color:red !important; border: 1px solid red !important;">
                            <i class="material-icons accented-icons" style="color:red;">delete</i>
                            Delete Account
                        </button>
                      </details>
                    

                      
                   
                   <div class="mdc-dialog warn-box" id="deleteWarn">
                        <div class="mdc-dialog__container">
                            <div class="mdc-dialog__surface" role="alertdialog">
                                <div class="mdc-dialog__content">
                                    You are about to delete your Aster account. <br />
                                    This action is irreversible. <br /> <br />
                                    Do you wish to proceed?
                                </div>
                                <div class="mdc-dialog__actions">
                                    <footer class="mdc-dialog__footer">
                                    <div class="mdc-dialog__actions">
                                        <button type="button" class="mdc-button mdc-dialog__button" id="confirm-delete" data-mdc-dialog-action="accept" onclick="removeAcc(event);">
                                            <div class="mdc-button__ripple"></div>
                                            <span class="mdc-button__label" style="color: var(--primary-color)">Yes</span>
                                        </button>

                                        <button type="button" class="mdc-button mdc-dialog__button" id="deny-delete" data-mdc-dialog-action="close">
                                            <div class="mdc-button__ripple"></div>
                                            <span class="mdc-button__label" style="color: var(--primary-color)">No</span>
                                        </button>

                                    </div>
                                </footer>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <img id="tempImg" style="display:none;" />
            <input type="file" id="fileUpload" style="display:none;" onchange="changePfp(this);" accept="image/*" />
        </div>
        <div id="clubs" style="display: none">
            <ul class="cards" id="container"></ul>
            <br /><br />
        </div>
        <div id="reviews" style="display: none">
            <div id="appendTo"></div>
        </div>
    </div>

    
    <script src="../lib/deepai.min.js" crossorigin="anonymous"></script>
    <script src="../assets/js/cardUtils.min.js"></script>
    <script src="../assets/js/dashboard.js"></script>
</body>