---
layout: none
permalink: /executive
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Executive Dashboard</title>
    {% include head.html %}
    <script src="https://kit.fontawesome.com/0fa5d07aea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <link rel="stylesheet" href="../assets/css/exec.css">
</head>
<body onload="themeInitializer();init();">
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    {% include sidebar.html %}
    <header class="side-dash">
        <ul>
            <li class="dash-link" id="newposttab" onclick="selectTab(this)">
                <i class="material-icons-outlined">account_circle</i>
                <span>New Post</span>
            </li>
            <li class="dash-link" id="oldpoststab" onclick="selectTab(this)">
                <i class="material-icons-outlined">view_list</i>
                <span>Past Posts</span>
            </li>
           
        </ul>
    </header>

    <div class="dashboard">
        <div style="padding-top:2rem;"></div>
        <div id="newpost">
            <div id="mdc-outline"
            class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea entry mdc-text-field--with-internal-counter">
                <textarea class="mdc-text-field__input" id="message" cols="30" rows="5" maxlength="280" required></textarea>
                <span class="mdc-text-field-character-counter">0 / 280</span>
                <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                        <label for="message" class="mdc-floating-label">Review</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                </div>
            </div>
        </div>
        <div id="oldposts">
            <div id="announces">

            </div>
        </div>
    </div>

    {% include firebase_base.html %}
    <script src="/assets/js/exec.js"></script>
</body>
</html>