---
layout: none
permalink: /forgot
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <title>Forgot Password</title>
    <script>

        function init() {
            //init selectTab to the tab which the user clicked for. defaulted to login, but if we are going to add a button that redirects straight to signup, then selectTab that instead
            selectTab(document.getElementById("logintab"));

            for (var el of document.getElementsByClassName("entry")) {
                mdc.textField.MDCTextField.attachTo(el);
            }
        }
        function selectTab(el) {
            for (let item of document.getElementsByClassName("tab-menu-link")) {
                item.classList.remove("active");
                var tab = document.getElementById(item.id.slice(0, -3));
                tab.style.visibility = "hidden";
                tab.style.height = "0px";
                var arr = tab.getElementsByTagName("input");
                for (let i = 0; i < arr.length; i++) {
                    arr[i].required = false;
                    arr[i].classList.remove("loginput");
                }
            }

            el.classList.add("active");
            document.getElementById(el.id.slice(0, -3)).style.visibility = "visible";
            document.getElementById(el.id.slice(0, -3)).style.height = "initial";
            var arr = document.getElementById(el.id.slice(0, -3)).getElementsByTagName("input");
            for (let i = 0; i < arr.length; i++) {
                arr[i].required = true;
                arr[i].classList.add("loginput");
            }
        }
    </script>
    <style>
        .email {
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }

        .mdc-text-field {
            width: 20rem;
        }
    </style>
</head>

<body onload="themeInitializer(); init();">
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    {% include sidebar.html %}
    <script>
    </script>
    <div style="padding-top:4rem;"></div>
    <!-- Email -->
    <div class="email">
        <br />
        <h4>We're sorry to hear that!</h4>
        <p> Enter your email below to reset your password</p>
        <div style="padding-top:1.2rem"></div>
        <div class="mdc-text-field mdc-text-field--outlined entry">
            <input class="mdc-text-field__input loginput" type="email" id="reset">
            <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                    <label for="reset" class="mdc-floating-label">Email</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
            </div>
        </div>
        <button id="send" class="sul-btn btn-primary">Send Email</button>

    </div>


    {% include footer.html %} 
    {% include firebase_base.html %}

    <script src="./assets/js/forgot.js"></script>
</body>

</html>