---
layout: page
permalink: /index
---

<head>
  {% include head.html %}
  <link rel="stylesheet" href="/assets/css/news.css" />
  <title>Aster</title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
  <style>
    .uk-link,
    a,
    .uk-link-toggle:focus .uk-link,
    .uk-link-toggle:hover .uk-link,
    .uk-link:hover,
    a:hover {
      color: unset;
    }

    .readMore a:hover,
    a:hover {
      text-decoration: none;
      cursor: hover;
    }

    ul.cards {
      padding: 0;
      width: unset !important;
      margin: unset !important;
    }

    ul.cards>li {
      padding-right: 0;
      padding-left: 0;
    }

    @media screen and (min-width: 885px) {
      ul.cards>li:nth-child(odd) {
        padding-left: 0;
        padding-right: 1.5rem;
      }

      ul.cards>li:nth-child(even) {
        padding-right: 0;
        padding-left: 1.5rem;
      }
    }

    .nav-wrapper ul {
      margin: 0 0;
    }
  </style>
  <script src="/assets/js/cardUtils.min.js"></script>
  <script>
    function kickoff() {

      //renders featured clubs
      const PAIRS = [
        //info of clubs to feature
        { name: "Japanese Animation Club", school: "Bronx Science" },
        { name: "Tap for All Levels", school: "Columbia Secondary" },
        { name: "Asian Students Organization", school: "Millennium Brooklyn" },
        { name: "WeServe", school: "Bronx Center for Science and Mathematics" },
      ];

      //Are you *sure* this would be safe?
      var firebaseConfig = {
        apiKey: "AIzaSyC2PhxtTwGnSf-1QyhvLzJS_Ry2zSsB-v4",
        authDomain: "phoneapp-84dbe.firebaseapp.com",
        databaseURL: "https://phoneapp-84dbe.firebaseio.com",
        projectId: "phoneapp-84dbe",
        storageBucket: "phoneapp-84dbe.appspot.com",
        messagingSenderId: "992747419007",
        appId: "1:992747419007:web:bc169785e526874392964a",
      },
        clubDataFirebase = firebase.initializeApp(firebaseConfig, "secondary"),
        db = clubDataFirebase.firestore();
      //gets club info correct number

      firestore.collection("Counters").doc("0")
        .get()
        .then(function (doc) {
          document.getElementById("club_number").innerHTML = doc.data().clubs;
          document.getElementById("school_number").innerHTML = doc.data().schools;
        });
      for (let pair of PAIRS) {
        //rendering clubs listed in constant PAIRS
        db.collection("Schools")
          .where("name", "==", pair.name)
          .where("school", "==", pair.school)
          .get()
          .then(function (querySnapshot) {
            querySnapshot.forEach(function (doc) {
              cardDisplay("container", doc, doc.data().school);
            });
          });
      }
    }

  </script>
</head>

<body onload="themeInitializer();">
  <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
    JavaScript.</noscript>
  {% include sidebar.html %}
  <!-- banner -->
  <div class="about_banner">
    <h3 class="title-up">About Aster</h3>
    <p>
      Aster is the first, largest, and completely free New York City High School Club database. Browse, add, rate, and review clubs! You can also save clubs to your list to view them later.
    </p>
    
    <div class="counters">
      <div class="column">
        <div class="circle-one">
          <div class="circle_text">
            <h1 class="title" id="club_number"> </h1>
            <h4 class="title-up"> clubs </h4>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="circle-one">
          <div class="circle_text">
            <h1 class="title" id="school_number"> </h1>
            <h4 class="title-up"> schools </h4>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div id="browse-container">
    <h3 class="title" style="font-size: 2.3rem">Announcements</h3>
  <!-- slideshow -->
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" style="
        background: var(--card-bg) !important;
        border-radius: 4px;
        box-shadow: 0 0 0 var(--color-white), 1px 1px 4px var(--color-shadow);
      " uk-slideshow="animation: pull;autoplay: true;max-height: 380">
      <ul class="uk-slideshow-items">
        {% for post in site.news limit:2 offset:2 %}
        <div style="
            background: var(--card-bg);
            border-radius: 4px;
            box-shadow: 0 0 0 var(--color-white),
              1px 1px 4px var(--color-shadow);
          ">
          <div class="text-section">
            <p class="title-up">{{post.author}}</p>
            <a href="/{{ post.permalink }}">
              <h1 style="font-size: 2.4rem" class="title">{{post.name}}</h1>
            </a>
            <p class="title-up">{{post.date | date_to_string}}</p>
            <br />
            <p>{{post.content | strip_html | truncatewords:10}}</p>
            <a href="/{{post.permalink}}" style="display: inline-flex"><span style="font-size: 0.8rem"
                class="title-up">READ MORE </span><i class="material-icons align-icons"
                style="font-size: 1.14rem">read_more</i></a>
          </div>
        </div>

        {% endfor %}
      </ul>

      <a style="color: var(--primary-color)" class="uk-position-center-left uk-position-small" href="#"
        uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a style="color: var(--primary-color)" class="uk-position-center-right uk-position-small" href="#"
        uk-slidenav-next uk-slideshow-item="next"></a>
	</div>
	<br />
	<br />
    <div class="picks">
      <br />
      <br />
      <h3 class="title">Editor's Picks: Activism</h3>
      <ul class="cards" id="container"></ul>

      <br />
      <iframe src="https://discordapp.com/widget?id=734194671714041946&theme=dark" width="100%" height="500"
        allowtransparency="true" frameborder="0"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      <br /><br />
    </div>
  </div>

  {% include footer.html %} 
</body>