---
layout: none
permalink: /login
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <title>Log in</title>
    <script src="https://kit.fontawesome.com/0fa5d07aea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/login.css">
</head>

<body onload="themeInitializer();">

    <div class="parent">
        <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
            JavaScript.</noscript>
        {% include sidebar.html %}

        <div class="padding"></div>
        <!--influence: https://identity.netlify.com/-->
        <div id="login_div" class="main-div">

            <div class="tab-menu" style="width: 250px; ">

                <div class="mdc-tab-bar custom-demo-tab-bar" role="tablist" aria-label="Navigation">
                    <div class="mdc-tab-scroller">
                        <div class="mdc-tab-scroller__scroll-area">
                            <div class="mdc-tab-scroller__scroll-content">
                                <button class="mdc-tab mdc-tab--stacked mdc-tab--active" id="logintab"
                                    onclick="selectTab(this)" role="tab" aria-selected="false" tabindex="0">
                                    <span class="mdc-tab__content">
                                        <span class="mdc-tab__text-label">Log In</span>
                                    </span>
                                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                        <span
                                            class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                    </span>
                                    <span class="mdc-tab__ripple"></span>
                                </button>
                                <button class="mdc-tab mdc-tab--stacked" role="tab" aria-selected="true" tabindex="-1"
                                    onclick="selectTab(this)" id="signuptab">
                                    <span class="mdc-tab__content">
                                        <span class="mdc-tab__text-label">Sign Up</span>
                                    </span>
                                    <span class="mdc-tab-indicator">
                                        <span
                                            class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                    </span>
                                    <span class="mdc-tab__ripple"></span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <form id="authform" name="authform" onsubmit="return false">
                <div id="login">
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input" type="email" id="email">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="email" class="mdc-floating-label">Email</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input truncated" type="password" id="password"
                            autocomplete="new-password">
                        <i class="far fa-eye" id="toggle-password"></i>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="password" class="mdc-floating-label">Password</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /> <br />

                    <button type="submit" onclick="login()" class="sul-btn btn-primary">Login</button> <br /> <br />
                    <a style="font-size:80%;" href="/forgot">Forgot Password?</a> <br />
                </div>

                <div id="signup" style="visibility: none">
                    <div class="mdc-text-field mdc-text-field--outlined entry new-name">
                        <input class="mdc-text-field__input" id="new-name1"
                            onkeypress="return /[a-z]/i.test(event.key);">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="new-name1" class="mdc-floating-label">First Name</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined entry new-name">
                        <input class="mdc-text-field__input" id="new-name2"
                            onkeypress="return /[a-z]/i.test(event.key);">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="new-name2" class="mdc-floating-label">Last Name</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input" id="new-username"
                            onkeypress="return /^[a-zA-Z0-9-_]+$/.test(event.key);">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="new-username" class="mdc-floating-label">Username</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input" type="email" id="new-email">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="new-email" class="mdc-floating-label">Email</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input truncated" type="password" id="new-password"
                            autocomplete="new-password">
                        <i class="far fa-eye" id="toggle-new-password"></i>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="new-password" class="mdc-floating-label">Password</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /> <br />
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input" type="password" id="confirm-new-password"
                            autocomplete="new-password">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="confirm-new-password" class="mdc-floating-label">Confirm Password</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /> <br />

                    <button type="submit" onclick="signup()" class="sul-btn btn-primary">Sign Up</button> <br /> <br />
                </div>
            </form>

        </div>
    </div>
    {% include firebase_base.html %}

    <script src="/assets/js/log_sign.js"></script>

    {% include footer.html %}
</body>

</html>