---
layout: dash
name: managerial
permalink: /managerial
---

<head>
    <meta charset="utf-8">
    <title> Managerial Dashboard</title>
    {% include head.html %}
    <script src="https://kit.fontawesome.com/0fa5d07aea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            for (var el of document.getElementsByClassName("entry")) {
                mdc.textField.MDCTextField.attachTo(el);
            }

            selectTab(document.getElementById("browsetab"));
        });
    </script>
    <style>
        #searchBox {
            width: calc(100% - 60px) !important;
        }

        .browse-header,
        .filter_menu {
            width: 66.67vw;
            margin: 0 auto;
        }

        .filter_link {
            margin-left: 0;
            margin-bottom: 1.1rem;
        }

        textarea.club-field {
            margin-top: 1rem;
            width: calc(70% + 24px);
        }

        /* overrides */
        @media screen and (max-width: 1100px) {
            .entry {
                max-width: initial !important;
            }
        }
    </style>
</head>

<body onload="themeInitializer();">
    {% include sidebar.html %}
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    <header class="side-dash">
        <ul>
            <li class="dash-link" id="browsetab" onclick="selectTab(this)">
                <i class="material-icons">description</i>
                Club Data</span></li>
            <li class="dash-link" id="requeststab" onclick="selectTab(this)">
                <i class="material-icons">all_inbox</i>
                Submissions</li>
            <li class="dash-link" id="addedtab" onclick="selectTab(this)">
                <i class="material-icons">note_add</i>
                Add</li>
        </ul>
    </header>

    <div class="dashboard">
        <div id="browse" class="browse-clubs">
            <!-- search -->
            <div class="browse-header">
                <div class="searchbox">
                    <div class="mdc-text-field mdc-text-field--outlined entry browsesearch" id="searchBox">
                        <input class="mdc-text-field__input" id="search">
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="search" class="mdc-floating-label">Search</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <span id="searchbtncontainer">
                        <button id="search-btn" class="applyButton btn-profile sul-btn header-btn"><i
                                class="material-icons">search</i></button>

                </div>
                <button class="filter_link">
                    <i class="material-icons align-icons">sort</i>
                    Advanced Filter
                </button>
            </div>
            <fieldset class="filter_menu">
                <div class="sub_menu">

                    <span class="tags">Schools</span>
                    <br />
                    <div class="cat">
                        <input type="checkbox" name="school[]" value="Beacon" id="0">
                        <label for="0"> Beacon </label>
                    </div>

                    <div class="cat">
                        <input id="1" type="checkbox" name="school[]" value="Bronx Center for Science and Mathematics">
                        <label for="1"> Bronx Center for Science and Mathematics </label>
                    </div>

                    <div class="cat">
                        <input id="2" type="checkbox" name="school[]" value="Bronx Science">
                        <label for="2"> Bronx Science </label>
                    </div>

                    <div class="cat">
                        <input id="3" type="checkbox" name="school[]" value="Brooklyn Latin">
                        <label for="3"> Brooklyn Latin </label>
                    </div>

                    <div class="cat">
                        <input id="4" type="checkbox" name="school[]" value="Brooklyn Technical">
                        <label for="4"> Brooklyn Technical </label>
                    </div>

                    <div class="cat">
                        <input id="5" type="checkbox" name="school[]" value="Columbia Secondary">
                        <label for="5"> Columbia Secondary </label>
                    </div>

                    <div class="cat">
                        <input id="6" type="checkbox" name="school[]"
                            value="Manhattan Center for Science and Mathematics">
                        <label for="6"> Manhattan Center for Science and Mathematics </label>
                    </div>

                    <div class="cat">
                        <input id="7" type="checkbox" name="school[]" value="Millenium Brooklyn">
                        <label for="7"> Millenium Brooklyn </label>
                    </div>

                    <div class="cat">
                        <input id="8" type="checkbox" name="school[]" value="NEST+m">
                        <label for="8"> NEST+M </label>
                    </div>

                </div>
                <div class="sub_menu">

                    <span class="tags">Categories</span>
                    <br />
                    <div class="cat">
                        <input id="a" type="checkbox" name="category[]" value="Activism">
                        <label for="a"> Activism </label>
                    </div>

                    <div class="cat">
                        <input id="b" type="checkbox" name="category[]" value="Art">
                        <label for="b"> Art </label>
                    </div>

                    <div class="cat">
                        <input id="c" type="checkbox" name="category[]" value="Competitive">
                        <label for="c"> Competitive </label>
                    </div>

                    <div class="cat">
                        <input id="d" type="checkbox" name="category[]" value="Creative">
                        <label for="d"> Creative </label>
                    </div>

                    <div class="cat">
                        <input id="e" type="checkbox" name="category[]" value="Culture">
                        <label for="e"> Culture </label>
                    </div>

                    <div class="cat">
                        <input id="f" type="checkbox" name="category[]" value="Dance">
                        <label for="f"> Dance </label>
                    </div>

                    <div class="cat">
                        <input id="g" type="checkbox" name="category[]" value="Literature">
                        <label for="g"> Literature </label>
                    </div>

                    <div class="cat">
                        <input id="h" type="checkbox" name="category[]" value="Hobby">
                        <label for="h"> Hobby </label>
                    </div>

                    <div class="cat">
                        <input id="i" type="checkbox" name="category[]" value="Music">
                        <label for="i"> Music </label>
                    </div>

                    <div class="cat">
                        <input id="j" type="checkbox" name="category[]" value="Professional">
                        <label for="j"> Professional </label>
                    </div>

                    <div class="cat">
                        <input id="k" type="checkbox" name="category[]" value="Public speaking">
                        <label for="k"> Public Speaking </label>
                    </div>

                    <div class="cat">
                        <input id="l" type="checkbox" name="category[]" value="Recreational">
                        <label for="l"> Recreational </label>
                    </div>

                    <div class="cat">
                        <input id="m" type="checkbox" name="category[]" value="Social">
                        <label for="m"> Social </label>
                    </div>

                    <div class="cat">
                        <input id="n" type="checkbox" name="category[]" value="Sports">
                        <label for="n"> Sports </label>
                    </div>

                    <div class="cat">
                        <input id="o" type="checkbox" name="category[]" value="STEM">
                        <label for="o"> STEM </label>
                    </div>

                    <div class="cat">
                        <input id="p" type="checkbox" name="category[]" value="Student organization">
                        <label for="p"> Student organization </label>
                    </div>

                    <div class="cat">
                        <input id="q" type="checkbox" name="category[]" value="Volunteering">
                        <label for="q"> Volunteering </label>
                    </div>

                    <br />
                    <button class="applyButton sul-btn btn-profile">Apply Filters</button>
                </div>

                <br />

            </fieldset>

            <div style="padding-top:5rem"></div>
        </div>
        <div id="searchResults">
        </div>
    </div>

    <div id="requests" style="display: none">
        <div class="subdash">
            <!-- The Modal -->
            <div id="thankModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">

                    <div>
                        <p id="changeType"></p>
                    </div>
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input style="width:70%;" class="mdc-text-field__input" name="username" id="usernamefield"
                            required>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="usernamefield" class="mdc-floating-label">Username</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <div><button id="modal-btn" class="close sul-btn btn-primary">OK</button></div>
                </div>
            </div>
            <div id="subclubs" class="browse-clubs"></div>

        </div>

    </div>

    <div id="added" style="display: none">
        <div class="subdash">
            <div class="browse-clubs">
                <h1>Add A Club</h1>
                <br />
                <form id="addition_form" onsubmit="return false;">
                    <!--Club School -->
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input" name="schoolname" id="schoolnamefield" required>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="schoolnamefield" class="mdc-floating-label">School name</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /><br />

                    <!-- Club Name -->
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input" name="clubname" id="clubnamefield" required>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="clubnamefield" class="mdc-floating-label">Club name</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /><br />

                    <!-- Club Categories -->

                    <br /><br />
                    <fieldset class="filter_menu" style="display:flex !important;">
                        <div class="sub_menu">

                            <div class="cat">
                                <input id="i1" type="checkbox" name="addCat[]" value="Activism">
                                <label for="i1"> Activism </label>
                            </div>

                            <div class="cat">
                                <input id="i2" type="checkbox" name="addCat[]" value="Art">
                                <label for="i2"> Art </label>
                            </div>

                            <div class="cat">
                                <input id="i3" type="checkbox" name="addCat[]" value="Competitive">
                                <label for="i3"> Competitive </label>
                            </div>

                            <div class="cat">
                                <input id="i4" type="checkbox" name="addCat[]" value="Creative">
                                <label for="4"> Creative </label>
                            </div>

                            <div class="cat">
                                <input id="i5" type="checkbox" name="addCat[]" value="Culture">
                                <label for="i5"> Culture </label>
                            </div>

                            <div class="cat">
                                <input id="i6" type="checkbox" name="addCat[]" value="Dance">
                                <label for="i6"> Dance </label>
                            </div>

                            <div class="cat">
                                <input id="i7" type="checkbox" name="addCat[]" value="Literature">
                                <label for="i7"> Literature </label>
                            </div>

                            <div class="cat">
                                <input id="i8" type="checkbox" name="addCat[]" value="Hobby">
                                <label for="i8"> Hobby </label>
                            </div>

                            <div class="cat">
                                <input id="i9" type="checkbox" name="addCat[]" value="Music">
                                <label for="i9"> Music </label>
                            </div>

                            <div class="cat">
                                <input id="i10" type="checkbox" name="addCat[]" value="Professional">
                                <label for="i10"> Professional </label>
                            </div>

                            <div class="cat">
                                <input id="i11" type="checkbox" name="addCat[]" value="Public speaking">
                                <label for="i11"> Public Speaking </label>
                            </div>

                            <div class="cat">
                                <input id="i12" type="checkbox" name="addCat[]" value="Recreational">
                                <label for="i12"> Recreational </label>
                            </div>

                            <div class="cat">
                                <input id="i13" type="checkbox" name="addCat[]" value="Social">
                                <label for="i13"> Social </label>
                            </div>

                            <div class="cat">
                                <input id="i14" type="checkbox" name="addCat[]" value="Sports">
                                <label for="i14"> Sports </label>
                            </div>

                            <div class="cat">
                                <input id="i15" type="checkbox" name="addCat[]" value="STEM">
                                <label for="i15"> STEM </label>
                            </div>

                            <div class="cat">
                                <input id="i16" type="checkbox" name="addCat[]" value="Student organization">
                                <label for="i16"> Student organization </label>
                            </div>

                            <div class="cat">
                                <input id="i17" type="checkbox" name="addCat[]" value="Volunteering">
                                <label for="i17"> Volunteering </label>
                            </div>


                            <br />
                        </div>

                        <br />
                    </fieldset>
                    <br /><br />

                    <!-- Club room -->
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input" name="rm" id="rmfield" required>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="rmfield" class="mdc-floating-label">Club's room</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <!-- Club Meeting days and time  -->
                    <br /><br />
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input" name="time" id="meetfield" required>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="meetfield" class="mdc-floating-label">Meeting time</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="mdc-text-field mdc-text-field--outlined entry">
                        <input class="mdc-text-field__input" name="meet" id="dayfield" required>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="dayfield" class="mdc-floating-label">Meeting day</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>
                    <br /><br />

                    <!-- Club description -->
                    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea entry">
                        <textarea class="mdc-text-field__input" name="message" cols="30" rows="5" id="descriptionfield"
                            required></textarea>
                        <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                                <label for="descriptionfield" class="mdc-floating-label">Club description</label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                        </div>
                    </div>

                </form>
                <button class="close sul-btn btn-primary"
                    onclick=" addToCollection('addition_form', 'Schools')">Submit</button>
                <br /></br />
            </div>
        </div>
    </div>

    <script src="/assets/js/manager.js"></script>
    <script src="/assets/js/manage_search.js"></script>
</body>