---
layout: page
permalink: /news
---

<head>
    <meta name="description" content="Read all the latest Aster news!">
    {% include head.html %}
    <title>News</title>
    <link rel="stylesheet" href="/assets/css/news.css" />
    <!--<script src="/assets/js/cardUtils.min.js"></script>-->
</head>

<body onload="themeInitializer(); /*indexInit();*/">
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    {% include sidebar.html %}
    <div class="padding"></div>
    {% assign sorted = site.news | sort: 'date' | reverse %}
    {%for post in sorted%}

    <div class="news-section" style="width:66.67vw; margin: 0 auto;">
        <p class="title-up">{{post.author}}</p>
        <a href="/{{ post.permalink }}">
            <h1 style="font-size:2.4rem;" class="title">{{post.name}}</h1>
        </a>
        <p class="title-up">{{post.date | date_to_string}}</p>
        <br />
        <p>

            {{post.content  | strip_html | truncatewords:35}}
        </p>

        <br />
        <a href="/{{post.permalink}}" style="display:inline-flex"><span style="font-size:.8rem;" class="title-up">READ
                MORE </span><i class="material-icons align-icons" style="font-size:1.14rem">read_more</i></a>
    </div>

    <div style="padding-top:2rem"></div>
    {% endfor %}
    <br />
    
  {% include footer.html %} 
</body>