---
layout: page
permalink: /privacy
---

<head>
    {% include head.html %}
    <title>Privacy Notice</title>
    <style>
        #content {
            top: 5rem;
            padding: 60px;
			margin-top: 29px;
			font-size: 19.2px;
			line-height: 1.7;
			box-shadow: 0 0 0 var(--color-white),1px 1px 4px var(--color-shadow);
        }

        a {
            text-decoration: underline;
        }
		ul li {
			list-style-type: circle;
			margin-left: 35px;
		}
		.nav-wrapper ul li {
			list-style-type: initial;
			margin-left: initial;
			line-height:initial;
		}
		h2 {
			font-weight: 700;
			text-transform: uppercase;
			font-size: 49.6px;
			line-height: 1;
		}
		h3 {
			font-size: 19.2px;
			font-weight: 600;
		}
    </style>
</head>

<body onload="themeInitializer();">
    {% include sidebar.html %}
    <div id="content" class="section" style="background-color: var(--card-bg);">
		<h2>PRIVACY NOTICE</h2>
		<h3>Last updated August 31, 2020</h3><br />
		Thank you for choosing to be part of our community at Aster. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice, or our practices with regards to your personal information, please contact us at aster.clubs@gmail.com.<br /><br />
		When you visit our website <a href="https://aster.nyc" target="_blank" rel="noopener" data-custom-class="link">https://aster.nyc</a>, and more generally, use any of our services (which include the Website), we appreciate that you are trusting us with your personal information. We take your privacy very seriously. In this privacy notice, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy notice that you do not agree with, please discontinue use of our Services immediately.<br /><br />
		This privacy notice applies to all information collected through our Services (which, as described above, includes our Website), as well as any related services, sales, marketing or events.<br /><br />
		<strong>Please read this privacy notice carefully as it will help you understand what we do with the information that we collect.</strong><br /><br />
		<h3>WHAT INFORMATION DO WE COLLECT?</h3><br />
		<strong>Personal information you disclose to us</strong><br /><br />
		<strong><em>In Short: </em></strong><em>We collect information that you provide to us.</em><br /><br />
		We collect personal information that you voluntarily provide to us when you register on the Website, express an interest in obtaining information about us or our products and Services, when you participate in activities on the Website (such as by posting messages in our online forums or entering competitions, contests or giveaways) or otherwise when you contact us.<br /><br />
		The personal information that we collect depends on the context of your interactions with us and the Website, the choices you make and the products and features you use. The personal information we collect may include the following:<br /><br />
		<strong>Personal Information Provided by You.</strong> We collect names; email addresses; usernames; passwords; contact or authentication data; and other similar information.<br /><br />
		<strong>Social Media Login Data.</strong> We may provide you with the option to register with us using your existing social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the information described in the section called "HOW DO WE HANDLE YOUR SOCIAL LOGINS" below.<br /><br />
		 All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.<br /><br />
		<h3>HOW DO WE USE YOUR INFORMATION?</h3><br />
		<em><strong>In Short: </strong>We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.</em><br /><br />
		We use personal information collected via our Website for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.<br /><br />
		We use the information we collect or receive:<br /><br />
		<ul>
			<li><strong>To facilitate account creation and logon process.</strong> If you choose to link your account with us to a third-party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract. See the section below headed "HOW DO WE HANDLE YOUR SOCIAL LOGINS" for further information.<br /><br /></li>
			<li><strong>To post testimonials.</strong> We post testimonials on our Website that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and the consent of the testimonial. If you wish to update, or delete your testimonial, please contact us at aster.clubs@gmail.com and be sure to include your name, testimonial location, and contact information.<br /><br /></li>
			<li><strong>Request feedback.</strong> We may use your information to request feedback and to contact you about your use of our Website.<br /><br /></li>
			<li><strong>To enable user-to-user communications.</strong> We may use your information in order to enable user-to-user communications with each user's consent.<br /><br /></li>
			<li><strong>To manage user accounts</strong>. We may use your information for the purposes of managing our account and keeping it in working order.<br /><br /></li>
			<li><strong>To send administrative information to you. </strong>We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.<br /><br /></li>
			<li><strong>To protect our Services.</strong> We may use your information as part of our efforts to keep our Website safe and secure (for example, for fraud monitoring and prevention).<br /><br /></li>
			<li><strong>To enforce our terms, conditions and policies for business purposes, to comply with legal and regulatory requirements or in connection with our contract.</strong><br /><br /></li>
			<li><strong>Fulfill and manage your orders.</strong> We may use your information to fulfill and manage your orders, payments, returns, and exchanges made through the Website.<br /><br /></li>
			<li><strong>Administer prize draws and competitions. </strong>We may use your information to administer prize draws and competitions when you elect to participate in our competitions.<br /><br /></li>
			<li><strong>To deliver and facilitate delivery of services to the user.</strong> We may use your information to provide you with the requested service.<br /><br /></li>
			<li><strong>To respond to user inquiries/offer support to users.</strong> We may use your information to respond to your inquiries and solve any potential issues you might have with the use of our Services.<br /><br /></li>
		</ul>
		<h3>WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h3><br />
		<strong><em>In Short: </em> </strong><em>We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.</em><br /><br />
		We may process or share your data that we hold based on the following legal basis:<br /><br />
		<ul>
			<li><strong>Consent:</strong> We may process your data if you have given us specific consent to use your personal information in a specific purpose.<br /><br /></li>
			<li><strong>Legitimate Interests:</strong> We may process your data when it is reasonably necessary to achieve our legitimate business interests.<br /><br /></li>
			<li><strong>Performance of a Contract: </strong>Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.<br /><br /></li>
			<li><strong>Legal Obligations:</strong> We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).<br /><br /></li>
			<li><strong>Vital Interests:</strong> We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.<br /><br /></li>
		</ul>
		More specifically, we may need to process your data or share your personal information in the following situations:<br /><br />
		<ul>
			<li><strong>Business Transfers.</strong> We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.<br /><br /></li>
			<li><strong>Other Users.</strong> When you share personal information (for example, by posting comments, contributions or other content to the Website) or otherwise interact with public areas of the Website, such personal information may be viewed by all users and may be publicly made available outside the Website in perpetuity. If you interact with other users of our Website and register for our Website through a social network (such as Facebook), your contacts on the social network will see your name, profile photo, and descriptions of your activity. Similarly, other users will be able to view descriptions of your activity, communicate with you within our Website, and view your profile.<br /><br /></li>
		</ul>
		<h3>DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?</h3><br />
		<strong><em>In Short: </em></strong><em>We may use cookies and other tracking technologies to collect and store your information.</em><br /><br />
		We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Notice.<br /><br />
		<h3>DO WE USE GOOGLE MAPS?</h3><br />
		<strong><em>In Short: </em></strong><em>Yes, we use Google Maps for the purpose of providing better service.</em><br /><br />
		This Website uses Google Maps APIs which is subject to Google's Terms of Service. You may find the Google Maps APIs Terms of Service <a href="https://developers.google.com/maps/terms" target="_blank" rel="noopener" data-custom-class="link">here</a>. To find out more about Google&rsquo;s Privacy Policy, please refer to this <a href="https://policies.google.com/privacy" target="_blank" rel="noopener" data-custom-class="link">link</a>. We obtain and store on your device ('cache') your location. You may revoke your consent anytime by contacting us at the contact details provided at the end of this document.<br /><br />
		<h3>HOW DO WE HANDLE YOUR SOCIAL LOGINS?</h3><br />
		<strong><em>In Short: </em></strong><em>If you choose to register or log in to our services using a social media account, we may have access to certain information about you.</em><br /><br />
		Our Website offers you the ability to register and login using your third-party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile Information we receive may vary depending on the social media provider concerned, but will often include your name, email address, friends list, profile picture as well as other information you choose to make public on such social media platform.<br /><br />
		We will use the information we receive only for the purposes that are described in this privacy notice or that are otherwise made clear to you on the relevant Website. Please note that we do not control, and are not responsible for, other uses of your personal information by your third-party social media provider. We recommend that you review their privacy notice to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.<br /><br />
		<h3>HOW LONG DO WE KEEP YOUR INFORMATION?</h3><br />
		<strong><em>In Short: </em></strong><em>We keep your information for as long as necessary to fulfill the purposes outlined in this privacy notice unless otherwise required by law.</em><br /><br />
		We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this notice will require us keeping your personal information for longer than the period of time in which users have an account with us.<br /><br />
		When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize such information, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.<br /><br />
		<h3>HOW DO WE KEEP YOUR INFORMATION SAFE?</h3><br />
		<strong><em>In Short: </em></strong><em>We aim to protect your personal information through a system of organizational and technical security measures.</em><br /><br />
		We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, despite our safeguards and efforts to secure your information, no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to defeat our security, and improperly collect, access, steal, or modify your information. Although we will do our best to protect your personal information, transmission of personal information to and from our Website is at your own risk. You should only access the Website within a secure environment.<br /><br />
		<h3>WHAT ARE YOUR PRIVACY RIGHTS?</h3><br />
		<strong><em>In Short: </em></strong><em>You may review, change, or terminate your account at any time.</em><br /><br />
		If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here: <a href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm" target="_blank" rel="noopener noreferrer" data-custom-class="link">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>.<br /><br />
		If you are resident in Switzerland, the contact details for the data protection authorities are available here: <a href="https://www.edoeb.admin.ch/edoeb/en/home.html" target="_blank" rel="noopener noreferrer" data-custom-class="link">https://www.edoeb.admin.ch/edoeb/en/home.html</a>.<br /><br />
		<strong>Account Information</strong><br /><br />
		If you would at any time like to review or change the information in your account or terminate your account, you can log in to your account settings and update your user account.<br /><br />
		Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with applicable legal requirements.<br /><br />
		<strong>Cookies and similar technologies: </strong>Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Website. To opt-out of interest-based advertising by advertisers on our Website visit <a href="http://www.aboutads.info/choices/" target="_blank" rel="noopener noreferrer" data-custom-class="link">http://www.aboutads.info/choices/</a>.<br /><br />
		<strong>Opting out of email marketing: </strong>You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list &ndash; however, we may still communicate with you, for example to send you service-related emails that are necessary for the administration and use of your account, to respond to service requests, or for other non-marketing purposes. To otherwise opt-out, you may access your account settings and update your preferences.<br /><br />
		<h3>CONTROLS FOR DO-NOT-TRACK FEATURES</h3><br />
		Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (&ldquo;DNT&rdquo;) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. At this stage, no uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy notice.<br /><br />
		<h3>DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</h3><br />
		<strong><em>In Short: </em></strong><em>Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.</em><br /><br />
		California Civil Code Section 1798.83, also known as the &ldquo;Shine The Light&rdquo; law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.<br /><br />
		If you are under 18 years of age, reside in California, and have a registered account with the Website, you have the right to request removal of unwanted data that you publicly post on the Website. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Website, but please be aware that the data may not be completely or comprehensively removed from all our systems (e.g. backups, etc.).<br /><br />
		<h3>DO WE MAKE UPDATES TO THIS NOTICE?</h3><br />
		<strong><em>In Short: </em></strong><em>Yes, we will update this notice as necessary to stay compliant with relevant laws.</em><br /><br />
		We may update this privacy notice from time to time. The updated version will be indicated by an updated &ldquo;Revised&rdquo; date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.<br /><br />
		<h3>HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h3><br />
		If you have questions or comments about this notice, you may email us at aster.clubs@gmail.com<br /><br />
		<h3>HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</h3><br />
		Based on the applicable laws of your country, you may have the right to request access to the personal information we collect from you, change that information, or delete it in some circumstances. To request to review, update, or delete your personal information, please visit: <a href="https://aster.nyc">https://aster.nyc</a>. We will respond to your request within 30 days.<br /><br />
		This privacy policy was created using <a href="https://termly.io/products/privacy-policy-generator/?ftseo">Termly&rsquo;s Privacy Policy Generator</a>. <br /><br />
	</div>
	
	{% include footer.html %} 
</body>