---
layout: none
permalink: /support
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/info.css">
    <link rel="stylesheet" href="/assets/css/support.css">
    <title>Support</title>
</head>

<body onload="themeInitializer();">
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    {% include sidebar.html %}
    <!--influence: https://identity.netlify.com/-->
    <script>
    </script>
    <div class="padding"></div>
    <div id="supp_div" class="main-div sul-box-raised-3" style="margin:auto; width:50%;">
        <br /><br />
        <span class="title-up">Support</span>
        <form id="authform" name="authform">
            <div id="supp">
                <div class="mdc-text-field mdc-text-field--outlined entry">
                    <input class="mdc-text-field__input" type="email" name="email" required>
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label for="email" class="mdc-floating-label">Email</label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
                <br /><br />
                <div class="mdc-text-field mdc-text-field--outlined entry">
                    <input class="mdc-text-field__input" type="text" name="subject" required>
                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label for="subject" class="mdc-floating-label">Subject</label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
                <br /><br />
                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--textarea entry">
                    <textarea class="mdc-text-field__input" cols="30" rows="5" type="text" name="msg"
                        required></textarea>

                    <div class="mdc-notched-outline">
                        <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                            <label class="mdc-floating-label" for="msg">Description</label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                    </div>
                </div>
                <br /> <br />

                <button onclick="asdf(event);" class="sul-btn btn-primary">Submit</button> <br /> <br />
                <br />
            </div>
        </form>

    </div>

    {% include footer.html %} 
    {% include firebase_base.html %}

    <script src="/assets/js/support.js"></script>
</body>

</html>