<!DOCTYPE HTML>
<html lang="en">
{{ content }}
{% include firebase_base.html %}
<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        REDACTED
    };
    // Initialize Firebase
    var clubDataFirebase = firebase.initializeApp(firebaseConfig, "secondary");
    // Get a reference to the database service
    var db = clubDataFirebase.firestore();
</script>

</html>
