---
layout: none
---
<!doctype html>
<html lang="en">

<head>
    <title>Aster Directory</title>
    {% include head.html %}
    <script src="../assets/js/cardUtils.min.js"></script>
</head>

<body onload="themeInitializer();">
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    {% include sidebar.html %}
    {{ content }}
    {% include firebase_base.html %}
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            REDACTED
        };
        // Initialize Firebase
        var clubDataFirebase = firebase.initializeApp(firebaseConfig, "secondary");
        // Get a reference to the database service
        var db = clubDataFirebase.firestore();
        document.addEventListener("DOMContentLoaded", function () {
            for (var el of document.getElementsByClassName("entry")) {
                mdc.textField.MDCTextField.attachTo(el);
            }
        });
    </script>
    <script src="../assets/js/lazyloader.min.js" charset="utf-8"></script>
    <script src="/assets/js/random.js"></script>
    <script src="../assets/js/infinite.js"></script>

    <script src="../assets/js/search.js"></script>
    <style>
        @media screen and (max-width:767px) {
            #container {
                margin: 0 0;
            }

            .sub_menu>.column {
                width: unset;
            }
        }
    </style>
</body>

</html>