---
layout: none
---

<!DOCTYPE HTMl>
<html onload="edit_button()" lang="en">

<head>
    <meta name="description" content="{{content}}">
    <title> {{ page.name }}</title>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/info.css" />
    <script src="/assets/js/cardUtils.min.js"></script>
    <script src="https://kit.fontawesome.com/0fa5d07aea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
    {% include firebase_base.html %}
    <script>
        var firebaseConfig = {
           REDACTED
        };
        // Initialize Firebase
        var clubDataFirebase = firebase.initializeApp(firebaseConfig, "secondary");
        // Get a reference to the database service
        var db = clubDataFirebase.firestore();
    </script>
    <script src="/assets/js/comments.js"></script>
    <script src="/assets/js/info.js"></script>
    <script>
        
    shuttle.club_name = "{{page.name}}";
    shuttle.club_school = "{{page.school}}"
    function pushToRecent() {
    var user = firebase.auth().currentUser;
    let userRef = firebase.database().ref('users/').child(user.uid);

    let suggest = [];
    userRef.once('value', function (snapshot) {
        try {
            recentBrowsed = JSON.parse(snapshot.val().recent);
            recentBrowsed.reverse();

            suggest = JSON.parse(snapshot.val().suggestCategories);
            suggest.reverse();
            let pageCategories = splitArray("{{page.category}}");
            pageCategories.forEach((category) => {
                if(!suggest.includes(category)){
                    suggest.push(category);
                }
            });
        }
        catch {
            recentBrowsed = [];
            suggest = [];
        }
    })

    if (recentBrowsed.length >= 5) {
        recentBrowsed.pop();
    }

    if(suggest.length >= 6) {
        suggest.pop();
    }

    recentBrowsed.push("{{page.school}}" + "/" + "{{page.name}}");
    let uniqueBrowse = recentBrowsed.filter(function (itm, i, recentBrowsed) {
        return i == recentBrowsed.indexOf(itm);
    });
    userRef.update({
        recent: JSON.stringify(uniqueBrowse),
        suggestCategories: JSON.stringify(suggest)
    })
    }

    function kickoff() {
        //attaching to interest button
        var intBtn = document.getElementById("interestButton");
        var playlistBtn = document.createElement("i");
        playlistBtn.className = "material-icons";
        playlistBtn.innerHTML = "playlist_add";
        playlistBtn.id = "hook";
        intBtn.className = "cardBtn";
        intBtn.append(playlistBtn);
    
        playlistBtn.club = new Club("{{page.name}}", "{{page.school}}", splitArray("{{page.category}}"), playlistBtn);
    
        playlistBtn.addEventListener("click", function () {
            this.club.updateInterest();
        });
        if (playlistBtn.club.interest()) {
            playlistBtn.innerHTML = "playlist_add_check";
        }
    
        postRef.child('page_info').once('value', function(info){
            var rating;
            try {
                rating = info.val().rating;
            }
            catch {
                // ....
                rating = 0;
            }
            pageDisplay(rating);
        });
    
    
        if (firebase.auth().currentUser) pushToRecent();
    }
    
    </script>
</head>

<body onload="themeInitializer(); init(); slideCreate(wrkDivJS)">
    {% include info_sidebar.html %}
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    <div class="padding"></div>

    <div class="sec">
        <div class="section-fluid-main">

            <div class="section">
                <div class="info-wrap" style="width:100% !important">
                    <div class="title-right">
                        <div id="interestButton"></div>My List
                    </div>
                    <p class="title-up" style="margin-left:3px;">{{page.school}}</p>
                    <h2 class="clubname">{{page.name}}
                        <p id="displayRating"></p>
                    </h2>
                    <h4 class="meets" style="margin-left:3px;">{{page.meets}}</h4>
                    <div class="section-fluid">
                        <div class="section-fluid category">

                            {% if page.category != nil %}
                            <div class="section-inline">
                                <p class="title-up">Categories<br />
                                    <span class="title-up">{{page.category}}</span></p>
                            </div>
                            {% endif %}

                            {% if page.room != nil %}
                            <div class="section-inline">
                                <p class="title-up">Room<br /><span class="title-up">{{page.room}}</span></p>
                            </div>
                            {% endif %}

                            {% if page.time != nil %}
                            <div class="section-inline">
                                <p class="title-up">Time<br /><span class="title-up">{{page.time}}</span></p>
                            </div>
                            {% endif %}

                            {% if page.images != nil %}
                            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" style="
                            background: var(--card-bg) !important;
                            border-radius: 4px;
                            box-shadow: 0 0 0 var(--color-white), 1px 1px 4px var(--color-shadow);
                          " uk-slideshow="animation: pull;autoplay: true;max-height: 380">
                                <ul class="uk-slideshow-items ul-flex-center" id="slideUlHTML">
                                </ul>

                                <a class="uk-position-center-left uk-hidden-hover" href="#" uk-slidenav-previous
                                    uk-slideshow-item="previous"></a>
                                <a class="uk-position-center-right uk-hidden-hover" href="#" uk-slidenav-next
                                    uk-slideshow-item="next"></a>
                            </div>
                            
                            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
                            <!--Div to work around annoying jekyll-->
                            <div id="wrkDiv">{{ page.images }}</div>
                            {% endif %}
                        </div>
                        <p class="content">
                            {{page.content}}
                            <br />
                            <br />
                    {% for school in site.schools %}
                        {% if page.school == school.school %}
                            <div class="school_bio">
                                 <p class="title-up">{{school.school}}</p>
                                {{ school.content }}
                                <div class="border"></div>
                            </div>
                        {% endif %}
                    {% endfor %}

                            <br/>
                            <br/>
                        <p class="title-up">More Like This...</p>
                        <div class="recc_content">
                        {% for category in page.category %}
                            {% assign cat = category | strip | split: "," %}
                            {% assign count = 0 %}
                            {% for member in cat %}
                                    {% for club in site.clubs %}

                                        {% if count < 3  and club.name != page.name %}
                                        {% if club.category contains member%}
                                            <p>
                                                <br/>
                                                <a href="{{club.url}}" class="more_title"> {{club.name}} </a>
                                        
                                                <br/>
                                                {{ club.content | truncatewords: 25 }}
                                            </p>
                                            {% assign count = count | plus: 1 %}
                                        {% endif %}
                                        
                                        {% endif %}
                                    {% endfor %}
                            {% endfor %}
                        {% endfor %}
                        </p>
                    </div>

                    <div id="announcements"></div>
                    </div>

                </div>


            </div>
        </div>
    </div>
    </div>

    <br />
    <br /><br />
    <div id="reviewContainer" class="margin">
        <div class="review">
            {% include comments.html %}
        </div>

    </div>

    {% include footer.html %}
</body>

</html>