---
layout: none
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="{{content}}">
    {% include head.html %}
    <title> {{ page.name }}</title>
    <link rel="stylesheet" href="/assets/css/news.css" />
    <script src="/assets/js/cardUtils.min.js"></script>
</head>

<body onload="themeInitializer();">
    {%include info_sidebar.html %}
    <noscript>This site requires JavaScript. Please enable JavaScript, or switch to another browser that supports
        JavaScript.</noscript>
    <div class="padding"></div>


    <div class="section">
        <p class="title-up">{{page.author}}</p>
        <h1 class="title">{{page.name}}</h1>
        {{page.content}}
    </div>
    {% include firebase_base.html %}
</body>

</html>